{% extends 'app_settings/admin/admin_index.html' %}
{% load static %}
{% load cache %}

{% block title %}Категории{% endblock %}

{% block heard %} {% include 'search_string.html' %} {% endblock %}

{% block content %}
<div class="Middle Middle_top" xmlns="http://www.w3.org/1999/html">
    <div class="Middle-top">
        <div class="wrap">
            <div class="Middle-header">
                <h1 class="Middle-title">
                    {% if request.GET.sort_by_letter %}
                    Все категории на букву <strong>"{{ request.GET.sort_by_letter }}"</strong>
                    {% else %}
                        Категории
                    {% endif %}
                </h1>
                {% block breadcrumbs %}
                <ul class="breadcrumbs Middle-breadcrumbs">
                    <li class="breadcrumbs-item">
                        <a href="{% url 'app_settings:dashboard' %}">главная старница </a>
                    </li>
                    <li class="breadcrumbs-item breadcrumbs-item_current">
                        <span>Список категорий</span>
                    </li>
                </ul>
                {% endblock %}
            </div>
        </div>
    </div>
{% include 'messages/message.html' %}
    <div class="Section Section_column Section_columnLeft">
        <div class="wrap">
            <div class="Section-column">
                <div class="Section-columnSection">
                    <header class="Section-header">
                        <strong class="Section-title">
                        </strong>
                    </header>
                    <div class="form-group">
                        <a class="btn btn_primary" href="{% url 'app_settings:create_category' %}">Добавить категорию
                        </a>
                    </div>  </div>
                     <div class="Section-columnSection">
                    <form method="get" action="">
                        <div class="form-group">
                            {% if form.errors.title %}
                            <div class="form-error">{{ form.errors.title }}
                            </div>
                            {% endif %}
                            <input class="form-input form-input_full" id="title" name="title" type="text"
                                   placeholder="Название категории ..." value="{{ request.POST.title}}"/>
                        </div>
                        <div class="form-group">
                            <div class="buttons">
                                <button class="btn btn_square btn_dark btn_narrow btn_full" type="submit">
                                   поиск
                                </button>
                            </div>
                        </div>
                    </form>


                </div>
            </div>

            <!--    SORT BY     -->
            <div class="Section-content">
                <div class="Sort">
                    <div class="Sort-title">Найти по алфавиту:</div>
                    <div class="Sort-variants">
                         <a class="Pagination-element Tag-alphabet_letter"
                           href="{% url 'app_settings:category_list' %}">все
                        </a>
                        {% for letter in alphabet %}
                        <a class="Pagination-element" href="?sort_by_letter={{letter}}">{{ letter }}
                        </a>
                        {% endfor %}
                    </div>
                </div>
                <!--    SORT BY END    -->

                <div class="Orders">
                    {% for cat in object_list %}
                    <div class="Order Order_anons">
                        <div class="Order-personal {% if cat.is_archived %}not_available{% endif %}">
                            <div class="row">
                                <!--  ORDER'S TITLE & DATE -->
                                <div class="row-block">
                                    <div class="Order-title ">
                                        <div class="Order-numberOrder">
                                            <a href="{% url 'app_settings:category_edit' pk=cat.pk %}">
                                                <img src="{{ cat.icon }}" width="32" alt="иконка">
                                            </a>
                                            {{ cat.title|upper }}
                                        </div>
                                    </div>
                                     {% if not cat.is_archived %}
                                    <div class="Order-info">
                                        {% if cat.parent_category %}
                                        <div class="Order-info Order-info_status">
                                            <ul>родительская категория:
                                                <li class="Order-infoContent">{{ cat.parent_category }}
                                                </li>
                                            </ul>
                                        </div>
                                        {% endif %}
                                        {% if cat.sub_categories.all %}
                                        <div class="Order-info Order-info_status">
                                            <ul>
                                                подкатегория:
                                                {% for sub_category in cat.sub_categories.all %}
                                                <li>
                                                    <a href="{% url 'app_settings:feature_list' pk=sub_category.pk %}"
                                                       class="Order-infoContent">{{ sub_category }}
                                                    </a>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="Order-info">
                                        <a class="Order-infoContent"
                                           href="{% url 'app_settings:feature_list' pk=cat.pk %}">
                                          редактировать характеристики категории
                                        </a>
                                    </div>
                                    {% else %}
                                    <div class="Order-info"></div>
                                     <div class="Order-info">
                                        <div class="Order-info Order-info_status ">категория в архиве
                                        </div>
                                     </div>
                                     {% endif %}
                                </div>

                                <div class="Cart-block Cart-block_row" style="margin:0 20px">

                                    {% if not cat.is_archived %}

                                    <div class="Cart-block Cart-block_seller">
                                        <a class="Cart-delete" href="{% url 'app_settings:category_edit' pk=cat.pk %}">
                                            <img src="/assets/img/icons/edit.png" width="32" alt="редактировать категорию">
                                        </a>
                                    </div>

                                    <!--   GET TO THE ARCHIVED   -->
                                    <div class="Cart-block Cart-block_delete">
                                        <a class="Cart-delete" href="#categoryDeleteModal_{{ cat }}">
                                            <img src="/assets/img/icons/card/delete.svg" alt="удалить"/>
                                        </a>
                                    </div>
                                    <!--   GET TO THE ARCHIVED   -->
                                    {% else %}
                                    <!--   GET BACK ACTIVE CATEGORY   -->
                                    <div class="Cart-block Cart-block_delete">
                                        <a class="Cart-delete" href="{% url 'app_settings:category_delete' pk=cat.pk  %}">
                                            <img src="/assets/img/icons/history.svg" width="32" alt="вернуть из архива"/>
                                        </a>
                                    </div>
                                    <!--   GET BACK ACTIVE CATEGORY   -->
                                    {% endif %}
                                    <!--     MODAL FOR CONFIRM DELETE COMMENT    -->
                                    <div id="categoryDeleteModal_{{ cat }}" class="modal-my">
                                        <div class="modal-dialog-my">
                                            <div class="modal-content-my">
                                                <div class="modal-header-my">
                                                    <a href="#close" title="Close" class="close-my">×</a>
                                                </div>
                                                <div class="modal-body-my">
                                                    <div class="form Payment">
                                                          <div class="form-group">
                                                            <h4>Удалить  в архив категорию </h4>
                                                            <h4><b>{{ cat|upper }} </b></h4>
                                                        </div>
                                                        <div class="form-group">
                                                            <br>
                                                        </div>
                                                        <div class="form-group">
                                                            <a href="{% url 'app_settings:category_delete' pk=cat.pk %}"
                                                               class="btn btn_square btn_danger btn_narrow">удалить&#8195;x</a>
                                                            <a href="#close" title="Close"
                                                               class="btn btn_square btn_dark btn_narrow">отмена</a>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer-my"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--     MODAL FOR CONFIRM DELETE COMMENT    -->
                                </div>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    {% if form.errors.title %}
                    <div class="Order Order_anons">
                            <div class="form-error">ОШИБКА!
                                <p>{{ form.errors.title }}</p>
                            </div>
                        </div>
                    {% else %}
                    <div class="Order">
                        <h2>Ничего не найдено
                        </h2>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>

                <!--       PAGINATION         -->
                {% include "pagination/pagination.html" %}
                <!--       PAGINATION         -->

            </div>
            <!--    SORT BY     -->
        </div>
    </div>
</div>
{% endblock %}