{% extends 'index.html' %}
{% load static %}
{% load cache %}

{% block title %}Сравнение товаров{% endblock %}

{% block content %}

<div class="Middle Middle_top" xmlns="http://www.w3.org/1999/html">
    <div class="Middle-top">
        <div class="wrap">
            <div class="Middle-header">
                <h1 class="Middle-title">Сравнение товаров
                </h1>
                <ul class="breadcrumbs Middle-breadcrumbs">
                    <li class="breadcrumbs-item">
                        <a href="{% url 'main' %}">главная стариница
                        </a>
                    </li>
                    <li class="breadcrumbs-item breadcrumbs-item_current">
                        <span> Сравнение товаров
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% include 'messages/message.html' %}
    <div class="Section Section_column Section_columnLeft">
        <div class="wrap">
            <div class="Section-column">

                {% if object_list %}
                <div class="Section-columnSection">
                    <header class="Section-header">
                        <strong class="Section-title">Очитить список
                        </strong>
                    </header>
                    <div class="form-control">
                        <a class="danger-text" href="{% url 'app_compare:clear_compare_list' %}">&#10060;&emsp;очистить</a>
                    </div>
                </div>
                <div class="Section-columnSection">
                    <header class="Section-header">
                        <strong class="Section-title">Фильтр отличий
                        </strong>
                    </header>
                    <form id="compare_form" action="." method="get">
                        <div class="form-group">
                            <label class="toggle" style="margin-right: 10px;">
                                <input type="checkbox" name="compare"  value=True
                                       {% if request.GET.compare %}  checked {% endif %}/>
                                <span class="toggle-box"></span>
                                <span class="toggle-text">только различия
                                </span>
                            </label>
                        </div>
                    </form>
                </div>
                <div class="Section-columnSection">
                    <div class="form-group">
                        <div class="buttons">
                            <button form="compare_form" class="btn btn_square btn_dark btn_narrow" type="submit">
                                Применить
                            </button>
                        </div>
                    </div>
                </div>
                <div class="Section-columnSection">
                    <header class="Section-header">
                        <strong class="Section-title">
                            Характеристики
                        </strong>
                    </header>
                    <div>
                        {% for feature in unique %}
                        <div class="primary-text" style="margin-bottom: 5px">
                            {{ feature }}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            </div>

            <div class="Section-content">
                <div class="Sort">
                </div>
                <!--    CARD    -->
                <div class="Cards" id="all_cards">

                    {% for item in object_list %}
                    <div class="Card"
                         data-price="{{ item.price }}"
                         data-views="{{ item.total_views }}"
                         data-comments="{{ item.item_comments.count }}"
                         data-new="{{ item.created }}">

                        <a class="Card-picture" href="#{% url 'app_item:item_detail' pk=item.pk %}"
                           title="{{ item.title }}">
                            <img class="card-picture-image{% if not item.is_available %}not_available{% endif %}"
                                 src="{{ item.main_image }}"
                                 alt="{{ item.title|truncatechars:'6' }}"/>
                        </a>

                        {% if item in in_cart %}
                        <div class="Card-item_in_cart">
                            <i class="uil uil-shopping-cart-alt" style="margin-right: 10px"></i>в корзине
                        </div>
                        {% endif %}

                         {% if item.pk in request.session.compares  %}
                        <div class="Cart-item-compare ">
                             <a href="{% url 'app_compare:remove_item' pk=item.pk %}" title="Убрать из сравнения">
                                   <i class="uil-graph-bar " style="color:#ffca00; font-size:25px"></i>
                            </a>
                        </div>
                        {% else %}
                        <div class="Cart-item-compare in-compare">
                            <a href="{% url 'app_compare:add_item' pk=item.pk %}" title="добавить в сравнение">
                                   <i class="uil-graph-bar " style="color:#A5ABBA; font-size:25px"></i>
                            </a>
                        </div>
                        {% endif %}
                        <div class="Card-content">
                            <strong class="Card-title">
                                <a href="{% url 'app_item:item_detail' pk=item.pk %}" data-value="{{item.title}}"
                                   title="{{ item.title }}">
                                    {{ item.title|truncatechars:14 }}
                                </a>
                            </strong>
                            <div class="Card-icon-view-and-sell">
                                <div class="Card-icon Card-icon-image">
                                    <a href="{% url 'app_item:item_detail' pk=item.pk %}#reviews">
                                        <img src="/assets/img/icons/comments.svg" width="20" height="20">
                                    </a>
                                </div>
                                <div class="Card-icon">{{ item.comments.count }}</div>
                                <div class="Card-icon Card-icon-image">
                                    <img src="/assets/img/icons/view.svg" width="20" height="20"></div>
                                <div class="Card-icon">{{ item.total_views }}</div>
                                <div class="Card-icon Card-icon-image">
                                    <img src="/assets/img/icons/cart.svg" width="20" height="20"></div>
                                <div class="Card-icon">{{ item.purchases }}</div>
                            </div>
                            <div class="Card-description">
                                <div class="Card-cost">
                                    <span class="Card-price" id="price_item">
                                        {% if  item.is_available  %}
                                            ${{  item.price  }}
                                        {% endif %}
                                    </span>
                                </div>
                            </div>
                            {% if unique %}
                                {% for unique_feature in unique %}
                                {% for value in item.feature_value.all %}
                                {% if value.feature == unique_feature %}

                                <div class="Card-title" style="font-weight:500; font-size:12px; text-align: start">
                                    {{ unique_feature }}
                                </div>
                                <div class="Card-description">
                                    <strong class="Card-title" style="font-weight:700; font-size:18px; text-align:end">
                                        {{ value|truncatechars:19 }}
                                    </strong>
                                    <hr>
                                </div>
                                {% endif %}
                                {% endfor %}
                                {% empty %}
                                {% endfor %}
                            {% else %}
                            <hr>
                            <span class="secondary-text"> различий нет</span>
                            {% endif %}

                        </div>
                    </div>
                    {% empty %}
                    <div class="form-group">
                        <img src="/media/default_images/not_found.png" width="100%">
                    </div>
                    {% endfor %}
                </div>
                <!--    CARD     -->
            </div>
            <!--    SORT BY     -->
        </div>
    </div>
</div>

{% endblock %}