{% extends 'app_settings/admin/admin_index.html' %}%}
{% load static %}
{% load cache %}

{% block title %}Каталог{% endblock %}
{% block content %}

<div class="Middle Middle_top" xmlns="http://www.w3.org/1999/html">
    <div class="Middle-top">
        <div class="wrap">
            <div class="Middle-header">
                <h1 class="Middle-title">
                    {% if request.GET %}
                    поиск тегов по &#8195;<b class="primary-text">'{{ request.GET.search}}'</b>
                    {% else %}
                    теги
                    {% endif %}
                </h1>
                {% block breadcrumbs %}
                <ul class="breadcrumbs Middle-breadcrumbs">
                    <li class="breadcrumbs-item">
                        <a href="{% url 'app_settings:dashboard' %}">главная старница </a>
                    </li>
                    <li class="breadcrumbs-item breadcrumbs-item_current">
                        <span>Список тегов</span>
                    </li>
                </ul>
                {% endblock %}
            </div>
        </div>
    </div>

    <!--    MESSAGE STRING  -->
    {% include 'messages/message.html' %}
    <!--    MESSAGE STRING  -->

    <div class="Section">
        <div class="wrap">
            <div class="Cart">
                <div class="Cart-product">
                    <div class="Cart-block Cart-block_row">
                        <a class="form-input btn btn_square btn_primary"
                           href="{% url 'app_settings:tag_create' %}">создать тег
                        </a>
                    </div>
                    <div class="Cart-block Cart-block_row">
                        <form class="Cart-block Cart-block_delete" method="get" action="{% url 'app_settings:tag_list' %}">
                            <div class="row ">
                                <div class="form-label">&#8195;</div>
                                <input class="form-input" name="search" value="{{ request.GET.search }}"
                                       placeholder="поиск тега по названию">
                                <div class="form-label">&#8195;</div>
                                <input class="form-input btn btn_square btn_success"
                                       type="submit" value="найти">
                                <div class="form-label">&#8195;</div>
                                <a class="form-input btn btn_square btn_dark"
                                   href="{% url 'app_settings:tag_list' %}">очистить
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="Cart">
                {% for object in object_list %}
                <div class="Cart-product">
                    <div class="Cart-block Cart-block_row" style="margin:0 20px">
                        <div class="Cart-block Cart-block_pict">
                        </div>
                        <div class="Cart-block Cart-block_info">
                            {% if object.is_active %}
                            <span class="Cart-title ">{{ object }}
                            </span>
                            {% else %}
                            <span class="Cart-title Cart-title-not_available">{{ object }}
                            </span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="Cart-block Cart-block_row" style="margin:0 20px">

                        <!--  EDIT TAG -->
                        <div class="Cart-block Cart-block_seller">
                            {% if  not object.is_active %}
                            <div class="danger-text">в архиве</div>
                            {% else %}
                             <a class="Cart-delete" href="{% url 'app_settings:tag_edit' pk=object.pk %}">
                                <img src="/assets/img/icons/edit.png" width="32">
                            </a>
                            {% endif %}
                        </div>
                        <!-- EDIT TAG -->

                        <!--   REMOVE TAG    -->
                        <div class="Cart-block Cart-block_delete">
                             {% if object.is_active %}
                            <a class="Cart-delete" href="{% url 'app_settings:tag_delete'  pk=object.pk %}">
                                <img src="/assets/img/icons/card/delete.svg" alt="delete.svg"/>
                            </a>
                            {% else %}
                            <a class="Cart-delete" href="{% url 'app_settings:tag_delete'  pk=object.pk %}">
                                <img src="/assets/img/icons/update.svg" alt="delete.svg"/>
                            </a>
                            {% endif%}
                        </div>
                        <!--   REMOVE TAG   -->
                    </div>
                </div>
                {% empty %}
                <div class="form-group">
                    <img src="/media/default_images/not_found.png" width="100%">
                </div>
                {% endfor %}

            </div>
            <!--       PAGINATION         -->
            <div>{% include "pagination/pagination.html" %}</div>
            <!--       PAGINATION         -->
        </div>
    </div>
</div>

{% endblock %}