{% extends 'index.html' %}
{% load static %}
{% load cache %}

{% block title %}Комментарии{% endblock %}

{% block heard %} {% include 'search_string.html' %} {% endblock %}

{% block content %}

<div class="Middle Middle_top" xmlns="http://www.w3.org/1999/html">
    <div class="Middle-top">
        <div class="wrap">
            <div class="Middle-header">
                <h1 class="Middle-title">Все комментарии
                </h1>
                {% block breadcrumbs %}
                <ul class="breadcrumbs Middle-breadcrumbs">
                    <li class="breadcrumbs-item">
                        <a href="{% url 'main' %}">главная стариница
                        </a>
                    </li>
                    <li class="breadcrumbs-item breadcrumbs-item_current">
                        <span>список коментариев
                        </span>
                    </li>
                </ul>
                {% endblock %}
            </div>
        </div>
    </div>
    {% include 'messages/message.html' %}
    <div class="Section Section_column Section_columnLeft">
        <div class="wrap">
            <div class="Section-column">
                {% include 'app_user/customer/sidebar/sidebar_customer.html' %}
            </div>

            <!--    SORT BY     -->
            <div class="Section-content">
                <div class="Sort">
                    <div class="Sort-title">Всего комментариев: </div>
                    <div class="Sort-variants">
                        <div class="Sort-sortBy">
                            {{ object_list|length }}
                        </div>
                    </div>
                </div>
                <!--    SORT BY END    -->

                <!--       PAGINATION         -->
                <div>{% include "pagination/pagination.html" %}<br><br></div>
                <!--       PAGINATION         -->
                <div class="Orders">
                    {% for comment in object_list %}
                    <div class="Order Order_anons">
                        <div class="Order-personal">
                            <div class="row">
                                <!--  ORDER'S TITLE & DATE -->
                                <div class="row-block">
                                    <div class="Order-info">
                                        <div class="Order-infoType">дата:</div>
                                        <div class="Order-infoContent">
                                            {{ comment.created_at }}
                                        </div>
                                    </div>
                                    <div class="Order-info">
                                        <div class="Order-infoType">модерация:</div>
                                        <div class="Order-infoContent">
                                            {% if  comment.is_published %}
                                            <span class="success-text">ОПУБЛИКОВАН</span>
                                            {% elif  comment.archived %}
                                             <span class="secondary-text">удален модератором</span>
                                            {% else %}
                                              <span class="warning-text">НА МОДЕРАЦИИ</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="Order-info">
                                        <div class="Order-infoType">товар:</div>
                                        <div class="Order-infoContent">
                                            <a href="{% url 'app_item:item_detail' comment.item.pk %}">
                                                <div class="Order-infoContent" style="display:inline">
                                                    {{ comment.item.title }}
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="Order-info ">
                                        <div class="Order-infoType">комментарий:</div>
                                        <div class="Order-infoContent">
                                            <span class="Order-price">
                                                {{ comment.review|truncatechars:200 }}
                                            </span>
                                        </div>
                                    </div>
                                        <div class="Order-info ">
                                        <div class="Order-infoType"></div>
                                        <div class="Order-infoContent">
                                            <div class="Order-price">
                                                <a class="btn btn_default btn_sm"
                                                   href="{% url 'app_item:comment_edit' pk=comment.item.pk comment_id=comment.pk %}">
                                                    редактировать
                                                </a>

                                                <a class="btn  btn_danger btn_sm"
                                                   href="#commentDeleteModal">
                                                    удалить
                                                </a>&#160;&#160;

                                                <!--     MODAL FOR CONFIRM DELETE COMMENT    -->
                                                <div id="commentDeleteModal" class="modal-my">
                                                    <div class="modal-dialog-my">
                                                        <div class="modal-content-my">
                                                            <div class="modal-header-my">
                                                                <a href="#close" title="Close" class="close-my">×</a>
                                                            </div>
                                                            <div class="modal-body-my">
                                                                <div class="form Payment">
                                                                    <div class="form-group">
                                                                        <h3>Удалить комментарий</h3>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <a href="{% url 'app_item:comment_delete' pk=comment.item.pk comment_id=comment.pk %}"
                                                                           class="btn btn_square btn_danger btn_narrow">удалить&#8195;x</a>
                                                                        <a href="#close" title="Close"
                                                                           class="btn btn_square btn_dark btn_narrow">отмена</a>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer-my"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--     MODAL FOR CONFIRM DELETE COMMENT    -->


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                             <div class="Order"><h2>Ничего не найдено</h2></div>
                    {% endfor %}
                </div>

                <!--       PAGINATION         -->
                {% include "pagination/pagination.html" %}
                <!--       PAGINATION         -->

            </div>
            <!--    SORT BY     -->
        </div>
    </div>
</div>

{% endblock %}