{% extends 'index.html' %}
{% load static  %}
{% load cache %}
{% block title %}

{% endblock %}

{% block content %}
<div class="Middle Middle_top">
    <div class="Middle-top">
        <div class="wrap">
            <div class="Middle-header">
                <h1 class="Middle-title">Недавно просмотренные товары</h1>
                <ul class="breadcrumbs Middle-breadcrumbs">
                    <li class="breadcrumbs-item">
                        <a href="{% url 'main' %}">главная стариница</a>
                    </li>
                    <li class="breadcrumbs-item">
                        <a href="{% url 'app_user:account' user.id %}">личный кабинет</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="Section">
        <div class="wrap">
              <!--       PAGINATION         -->
                <div>{% include "pagination/pagination.html" %}<br><br></div>
                <!--       PAGINATION         -->

            <div class="Cards Cards_blog">
                {% for item in object_list %}
                <div class="Card">
                    <a class="Card-picture" href="{{ item.get_absolute_url  }}">
                        <img src="{{ item.main_image }}" title="{{ item }}" alt="product.png"/>
                    </a>
                    <div class="Card-content">
                        <strong class="Card-title">
                            <a href="{{ item.get_absolute_url }}" title="{{ item }}">{{ item.title|truncatechars:'20' }}
                            </a>
                        </strong>
                        <div class="Card-description">
                            <a href="{{ item.get_store_url }}">{{ item.store }}
                            </a>
                        </div>
                        <div class="Card-category">{% if item.category.parent_category %}
                            <a href="{{ item.category.parent_category.get_absolute_url }}">
                                {{ item.category.parent_category }}
                            </a> /
                            <a href="{{ item.get_category_url }}">{{ item.category }}
                            </a>
                            {% else %}
                            <a href="{{ item.get_category_url }}">{{ item.category }}
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
