{% extends 'index.html' %}
{% load static  %}
{% load cache %}

{% block title %}
Редактировать профиль
{% endblock %}

{% block content %}

<div class="Middle Middle_top">
    <div class="Middle-top">
        <div class="wrap">
            <div class="Middle-header">
                <h1 class="Middle-title">Профиль
                </h1>
                <ul class="breadcrumbs Middle-breadcrumbs">
                   <li class="breadcrumbs-item">
                        <a href="{% url 'app_user:account' user.id %}">личный кабинет
                        </a>
                    </li>
                    <li class="breadcrumbs-item breadcrumbs-item_current">
                        <span>Редактирование профиля
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% include 'messages/message.html' %}
    <div class="Section Section_column Section_columnLeft">
        <div class="wrap">
            <div class="Section-column">
               {% include 'app_user/customer/sidebar/sidebar_customer.html' %}
            </div>
            <div class="Section-content">
                <div class="Profile">
                    <form class="form Profile-form" action="." method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="row-block">
                                <div class="form-group">
                                    <label class="form-label" for="avatar">Аватар</label>
                                    <div class="Profile-avatar">
                                        <div class="Profile-img">
                                            {% if user.profile.avatar %}
                                            <img src="{{ user.profile.avatar.url }}" alt="card.jpg"/>
                                            {% endif %}
                                        </div>
                                        {% if form.errors.avatar %}
                                        <div class="form-error">{{ form.errors.avatar }}
                                        </div>
                                        {% endif %}
                                        <label class="Profile-fileLabel" for="avatar">Выберите аватар</label>
                                        <input class="Profile-file form-input" id="avatar" name="avatar"
                                               data-validate="onlyImgAvatar" type="file"/>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="telephone">Логин</label>
                                    <input class="form-input"  name="username" disabled
                                           type="text" value="{{ user.username }}"/>
                                </div>
                            </div>
                            <div class="row-block">
                                <div class="form-group">
                                    {% if form.errors.first_name %}
                                        <div class="form-error">{{ form.errors.first_name }}
                                        </div>
                                        {% endif %}
                                    <label class="form-label" for="first_name">Имя</label>
                                    <input class="form-input" id="first_name" name="first_name" type="text"
                                           value="{{user.first_name}}"/>
                                    {% if form.errors.last_name %}
                                        <div class="form-error">{{ form.errors.last_name }}
                                        </div>
                                        {% endif %}
                                    <label class="form-label" for="last_name">Фамилия</label>
                                    <input class="form-input" id="last_name" name="last_name" type="text"
                                           value="{{user.last_name}}"/>
                                </div>
                                <div class="form-group">
                                    {% if form.errors.telephone %}
                                        <div class="form-error">{{ form.errors.telephone }}
                                        </div>
                                        {% endif %}
                                    <label class="form-label" for="telephone">Телефон</label>
                                    <input class="form-input" id="telephone" name="telephone"
                                           data-mask="+7 (999) 999 99 99"
                                           type="text" value="{{user.profile.telephone}}"/>
                                </div>
                                <div class="form-group">
                                    {% if form.errors.email %}
                                        <div class="form-error">{{ form.errors.email }}
                                        </div>
                                    {% endif %}
                                    <label class="form-label" for="email">E-mail</label>
                                    <input class="form-input" id="email" name="email" type="text"
                                           value="{{user.email}}"/>
                                </div>

                                <div class="form-group">
                                    <div class="Profile-btn">
                                        <button class="btn btn_success" type="submit">Сохранить</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}