<div class="Section-columnContent">
    <div class="NavigateProfile">
        <ul class="menu menu_vt">
            <li class="menu-item">
                <a class="menu-link" href="{% url 'main'  %}">Главная страница
                </a>
            </li>
              <li class="menu-item">
                <a class="menu-link" href="{% url 'app_settings:settings'  %}">Настройки
                </a>
            </li>
            <li class="menu-item menu-item">
                <a class="menu-link" href="{% url 'app_settings:settings_edit' pk=site_settings.pk %}">Редактировать настройки
                </a>
            </li>
            <li class="menu-item menu-item">
                <a class="menu-link" href="{% url 'app_settings:comments_list' %}">Комментарии
                </a>
            </li>

            <li class="menu-item">
                <a class="menu-link" href="{% url 'app_settings:category_list' %}">Категории
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="{% url 'app_settings:tag_list' %}">Теги
                </a>
            </li>
             <li class="menu-item">
                <a class="menu-link" href="{% url 'app_settings:customer_list' %}">Покуматели
                </a>
            </li>
             <li class="menu-item">
                <a class="menu-link" href="{% url 'app_settings:seller_list' %}">Продавцы
                </a>
            </li>
             <li class="menu-item">
                <a class="menu-link" href="{% url 'app_settings:store_list' %}">Магазины
                </a>
            </li>
             <li class="menu-item">
                <a class="menu-link" href="{% url 'app_settings:product_list' %}">Товары
                </a>
            </li>

        </ul>
    </div>
</div>