{% extends 'index.html' %}
{% load static  %}
{% load cache %}
{% block title %}

{% endblock %}
Оформление заказа
{% block content %}

<div class="Middle Middle_top">
    <div class="Middle-top">
        <div class="wrap">
            <div class="Middle-header">
                <h1 class="Middle-title">Оформление заказа <b>{{ form_error }}</b></h1>
                <ul class="breadcrumbs Middle-breadcrumbs">
                     <li class="breadcrumbs-item">
                        <a href="{% url 'main' %}">главная стариница</a>
                    </li>
                    <li class="breadcrumbs-item breadcrumbs-item_current">
                        <span>Оформление заказа
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% include 'messages/message.html' %}
    <div class="Section Section_column Section_columnRight Section_columnWide Order">
        <div class="wrap">
            <!--  Прогресс заполнения   -->
            <div class="Section-column">
                <div class="Section-columnSection">
                    <header class="Section-header">
                        <strong class="Section-title">Прогресс заполнения</strong>
                    </header>
                    <div class="Section-columnContent">
                        <ul class="menu menu_vt Order-navigate">
                            <li class="menu-item_ACTIVE menu-item">
                                <a class="menu-link" href="#step1">Шаг 1. Параметры пользователя</a></li>
                            <li class="menu-item">
                                <a class="menu-link" href="#step2">Шаг 2. Способ доставки</a></li>
                            <li class="menu-item">
                                <a class="menu-link" href="#step3">Шаг 3. Способ оплаты</a></li>
                            <li class="menu-item">
                                <a class="menu-link" href="#step4">Шаг 4. Подтверждение заказа</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--  Прогресс заполнения   -->

            <div class="Section-content">
                <!--     ORDER FORM -->
                <form class="form" action="{% url 'app_user:register_next_to_order' %}?next={% url 'app_order:order_create' %}"
                      method="post" id="register_form">
                    {% csrf_token %}

                    <div class="Order-block Order-block_OPEN" id="step1">
                        <header class="Section-header Section-header_sm">
                            <h2 class="Section-title">Шаг 1. Параметры пользователя</h2>
                        </header>
                        <div class="row">
                            <div class="row-block">

                                <!--   GROUP NAME HIDDEN INPUT -->
                                <input type="hidden" name="group" value="customer"/>
                                <!--   GROUP NAME HIDDEN INPUT -->

                                <!--  USERNAME FIELD       -->
                                <div class="form-group">
                                    {% if form.errors.username %}
                                    <div class="form-error ">{{ form.errors.username }}
                                    </div>
                                    {% endif %}
                                    <label class="form-label" for="username">Никнейм</label>
                                    <input class="form-input" id="username" name="username" type="text"
                                           value="{{ request.POST.username }}" required />
                                     <div class="form-group">
                                    <label class="form-label" for="first_name">Имя</label>
                                    <input class="form-input" id="first_name" name="first_name" type="text"
                                           value="{{ request.POST.first_name }}" />
                                          <div class="form-group">
                                    <label class="form-label" for="last_name">Фамилия</label>
                                    <input class="form-input" id="last_name" name="last_name" type="text"
                                           value="{{ request.POST.last_name }}"/>
                                </div>
                                </div>
                                </div>
                                <!--  USERNAME FIELD       -->

                                <!--    TELEPHONE  FIELD     -->
                                <div class="form-group">
                                    {% if form.errors.telephone %}
                                    <div class="form-error ">{{ form.errors.telephone }}
                                    </div>
                                    {% endif %}
                                    <label class="form-label" for="telephone">Телефон</label>
                                    <input class="form-input" id="telephone" name="telephone" type="text"
                                           data-mask="+7 (999) 999 99 99" required
                                           value="{{ request.POST.telephone }}"/>
                                </div>
                                <!--    TELEPHONE  FIELD     -->

                                <!--    EMAIL FIELD     -->
                                <div class="form-group">
                                    {% if form.errors.email %}
                                    <div class="form-error ">{{ form.errors.email }}
                                    </div>
                                    {% endif %}
                                    <label class="form-label" for="email">E-mail</label>
                                    <input class="form-input" id="email" name="email" type="text"
                                           value="{{ request.POST.email }}" required
                                           data-validate="require"/>
                                </div>
                                <!--    EMAIL FIELD     -->

                            </div>
                            <!--                  БЛОК ВВОДА ПАРОЛЯ-->
                            <div class="row-block">
                                <div class="form-group">
                                    {% if form.errors.password1 %}
                                    <div class="form-error ">{{ form.errors.password1 }}
                                    </div>
                                    {% endif %}
                                    <label class="form-label" for="password1">Пароль
                                    </label>
                                    <input class="form-input" id="password1" name="password1" type="password"
                                           placeholder="Тут можно изменить пароль" required />
                                </div>
                                <div class="form-group">
                                    {% if form.errors.password2 %}
                                    <div class="form-error ">{{ form.errors.password2 }}
                                    </div>
                                    {% endif %}
                                    <label class="form-label" for="password2">Подтверждение пароля
                                    </label>
                                    <input class="form-input" id="password2" name="password2" type="password"
                                           placeholder="Введите пароль повторно" required/>
                                </div>
                                <div class="form-group">
                                    <a class="btn btn_muted Order-btnReg"
                                       href="{% url 'app_user:login' %}?next={% url 'app_order:order_create' %}">
                                        Я уже зарегистрирован
                                    </a>
                                </div>
                            </div>
                            <!--                  БЛОК ВВОДА ПАРОЛЯ-->

                    </div>
                        <div class="Order-footer">
                            <button class="btn btn_success"  form="register_form" type="submit">Дальше</button>
                        </div>
                    </div>
                </form>
                <!--     ORDER FORM -->

            </div>
        </div>
    </div>
</div>
{% endblock %}