{% extends 'index.html' %}
{% load static  %}
{% load cache %}
{% block title %}
Заказ №{{order.id}}
{% endblock %}

{% block content %}
 <div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">Заказ №{{order.id}}</h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item">
              <a href="{% url 'main' %}">главная стариница</a>
            </li>
            <li class="breadcrumbs-item">
             <a href="{% url 'app_order:order_list' %}"> История заказов</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item_current">
              <span>{{ order }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    {% include 'messages/message.html' %}
    <div class="Section">
      <div class="wrap">
        <div class="Section-content">
          <div class="Orders">
          </div>
          <div class="Order {% if order.status == 'deactivated'%}Cart-img-not_available{% endif %}">
            <div class="Order-infoBlock">
              <div class="Order-personal">
                <div class="row">
                  <div class="row-block">
                    <div class="Order-info Order-info_date">
                      <div class="Order-infoType">Дата заказа:</div>
                      <div class="Order-infoContent">{{ order.created|date:'j F o H:m' }}</div>
                    </div>
                    <div class="Order-info">
                      <div class="Order-infoType">ФИО:</div>
                      <div class="Order-infoContent">{{ order.user.get_full_name }}</div>
                    </div>
                    <div class="Order-info">
                      <div class="Order-infoType">Телефон:</div>
                      <div class="Order-infoContent" id="phone_formatter">{{ order.telephone }}</div>
                    </div>
                    <div class="Order-info">
                      <div class="Order-infoType">E-mail:</div>
                      <div class="Order-infoContent">{{ order.email }}</div>
                    </div>
                      <div class="Order-info">
                      <div class="Order-infoType">Комментарий к заказу</div>
                      <div class="Order-infoContent">{% if order.comment%}{{ order.comment }}
                          {% else %} отсутствует
                          {% endif %}
                      </div>
                    </div>
                  </div>
                  <div class="row-block">
                    <div class="Order-info Order-info_delivery">
                      <div class="Order-infoType">Тип доставки:</div>
                      <div class="Order-infoContent {% if order.delivery == 'express' %}warning-text{% endif %}">
                        {{ order.get_delivery_display }}
                      </div>
                    </div>
                    <div class="Order-info">
                      <div class="Order-infoType">Город:</div>
                      <div class="Order-infoContent">{{ order.city }}</div>
                    </div>
                    <div class="Order-info">
                      <div class="Order-infoType">Адрес:</div>
                      <div class="Order-infoContent">{{ order.address }}</div>
                    </div>
                    <div class="Order-info Order-info_status">
                          <div class="Order-infoType">Статус доставки:</div>
                          <div class="Order-infoContent">
                              {% include 'app_order/order/status_list.html' %}
                          </div>
                      </div>
                    <div class="Order-info Order-info_pay">
                      <div class="Order-infoType">Оплата:</div>
                      <div class="Order-infoContent">{{ order.get_pay_display }}
                      </div>
                    </div>
                    <div class="Order-info Order-info_status">
                          <div class="Order-infoType">Статус оплаты:</div>
                        <div class="Order-infoContent">
                          {% if order.is_paid %}
                          <a class="success-text"
                             href="{% url 'app_invoice:invoices_detail' order.invoices.first.pk %}">
                            {{ order.invoices.first }}
                          </a>
                          {% else %}
                          <span class="danger-text"> не оплачен</span>
                          {% endif %}
                        </div>
                      </div>
                    {% if  order.error %}
                      <div class="Order-info Order-info_error">
                        <div class="Order-infoType">Оплата не прошла:
                        </div>
                        <div class="Order-infoContent">{{ order.error }}
                        </div>
                      </div>
                    {% endif %}
                </div>
              </div>
                <br>
              <div class="Cart Cart_order">
                {% for item in order_items %}
                <div class="Cart-product">
                  <div class="Cart-block Cart-block_row">
                    <div class="Cart-block Cart-block_pict">
                      <a class="Cart-pict" href="{% url 'app_item:item_detail' pk=item.item.item.pk %}">
                        <img class="Cart-img" src="{{ item.item.item.main_image }}"
                             alt="{{ item.item.item.title }}"/>
                      </a>
                    </div>
                    <div class="Cart-block Cart-block_info">
                      <a class="Cart-title" href="{% url 'app_item:item_detail' pk=item.item.item.pk %}">
                        {{ item.item.item.title }}
                      </a>
                      <div class="Cart-desc">{{ item.item.item.store }}
                      </div>
                      <a href="{% url 'app_item:item_detail' pk=item.item.item.pk %}#reviews" class="Cart-desc">
                        Оставить отзыв
                      </a>
                    </div>
                    <div class="Cart-block Cart-block_info">
                      <div class="Cart-title">
                        {% for status in status_list_item %}
                            {% if item.status == status.0 %}
                                <span class="label-color {{ status.0 }}">
                                    {{ item.get_status_display }}
                                </span>
                            {% endif %}
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                  <div class="Cart-block Cart-block_row">
                    <div class="Cart-block Cart-block_amount">{{ item.quantity }} шт.</div>
                    <div class="Cart-price">{{ item.total }}</div>
                  </div>
                </div>
                {% endfor %}
                <div class="Cart-total">
                  <div class="Cart-block Cart-block_total">
                    <strong class="Cart-title">Итого:
                      <span class="Cart-price">${{ order.total_sum }}</span>
                    </strong>
                    {% if order.delivery_fees %}
                      <strorng class="Cart-title"> из них стоимость доставки </strorng>
                      <span class="Cart-price">${{ order.delivery_fees }}</span>
                      {% endif %}
                  </div>
                </div>
                <div class="Cart-block Cart-block_total">
                  <div class="Cart-total-order">
                    {% if order.status == 'is_ready' %}
                    <form method="post"
                          action="{% url 'app_order:order_confirm' pk=order.pk %}">
                      {% csrf_token %}
                      <input type="hidden" name="status" value="completed">
                      <button class="btn btn_primary btn_lg"
                              title="Нажмите, чтобы подтвердить получение заказа">подтвердить получение
                      </button>
                    </form>
                    {% endif %}

                    {% if not order.is_paid and order.status != 'deactivated' %}
                    <a class="btn btn_primary btn_lg" style="margin-right:20px"
                       href="{% url 'app_order:progress_payment' order.id %}">оплатить
                    </a>
                    {% endif %}
                    {% if not order.is_paid %}
                    <a  class="btn btn_danger btn_lg"
                        href="{% url 'app_order:order_cancel' order.pk  %}">отменить
                    </a>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
 </div>
{% endblock %}