{% extends 'index.html' %}
{% load static  %}
{% load cache %}

{% block title %}
Удалить комментарий
{% endblock %}

{% block content %}
<div class="Middle Middle_top">
    <div class="Middle-top">
        <div class="wrap">
            <div class="Middle-header">
                <h1 class="Middle-title">Удалить комментарий</h1>
            </div>
        </div>
    </div>
    <div class="Section">
        <div class="wrap">
            <form method="post" class="form Payment" action="">
                {% csrf_token %}
                <div class="Payment-card form-shadow">
                    <div class="form-group">
                        <strong class="Section-title">Вы точно хотите удалить заказ ?</strong>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn_danger btn_square">Удалить
                        </button>
                        <a class="btn btn_dark btn_square" href="{% url 'app_order:order_detail' pk=object.pk %}">Нет
                        </a>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
{% endblock %}