{% extends 'app_store/seller_index.html' %}
{% load static  %}
{% load cache %}

{% block title %}
Создать новый тег
{% endblock %}

{% block content %}
<div class="Middle Middle_top">
    <div class="Middle-top">
        <div class="wrap">
            <div class="Middle-header">
                <h1 class="Middle-title">Теги
                </h1>
                <ul class="breadcrumbs Middle-breadcrumbs">
                    <li class="breadcrumbs-item">
                        <a href="{% url 'app_store:store_detail' pk=item.store.pk %}">{{ item.store }}
                        </a>
                    </li>
                     <li class="breadcrumbs-item">
                        <a href="{% url 'app_store:edit_item' pk=item.pk %}">{{ item }}
                        </a>
                    </li>
                    <li class="breadcrumbs-item breadcrumbs-item_current"><span>Добавить теги
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% include 'messages/message.html' %}
<div class="Section Section_column Section_columnRight Section_columnWide Order">
    <div class="wrap">
        <div class="Section-content">
            <div class="Order-block Order-block_OPEN">
                <header class="Section-header Section-header_sm">
                    <h2 class="Section-title">Теги
                    </h2>
                </header>
                <form method="post" id="add_tag_form" action="" enctype="multipart/form-data">
                    <div class="form-group">
                        {% csrf_token %}
                        {% for tag in tags %}
                          {% ifchanged %}<h3>{{ tag|make_list|first }}</h3>{% endifchanged %}

                            <label>
                                <input type="checkbox" name="tag"
                                       {% if tag in item.tag.all  %} disabled {% endif %}
                                       value="{{ tag.id }}"/>
                                <span class="toggle-box"></span>
                                <span class="toggle-text"># {{ tag.title }} &emsp;</span>
                            </label>
                        {% endfor %}
                    </div>
                </form>

                    <div class="Order-footer">
                        <button type="submit" form="add_tag_form"
                                class="btn btn_success btn_square btn_sm">Добавить тег и сохранить
                        </button>
                    </div>

            </div>
        </div>
        <div class="Section-column">
            <div class="Section-columnSection">
                <header class="Section-header">
                    <strong class="Section-title">{{ item }}</strong>
                </header>
                <div class="Section-columnContent">
                    <ul class="menu menu_vt Order-navigate">
                        {% for tag in item.tag.all %}
                        <li class="menu-item ">
                            <div class="btn btn_default">#{{ tag }}</div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>


    </div>
    <!--    MODAL FOR CREATE NEW TAG    -->
    <div id="openModal" class="modal-my">
        <div class="modal-dialog-my">
            <div class="modal-content-my">
                <div class="modal-header-my">
                    <h1 class="modal-title-my">Добавить новый тег
                    </h1>
                    <a href="#close" title="Close" class="close-my">×
                    </a>
                </div>
                <div class="modal-body-my">
                    <form method="post" action="#" id="tagCreateForm" class="form Payment">
                        {% csrf_token %}
                        <div class="form-group">
                            <input class="form-input" id="new_tag_title" name="title" type="text" placeholder="название нового тега"/>
                        </div>
                        <div class="form-group">
                            <button id="flybutton" class="btn btn_primary btn_full" type="submit">Добавить тег
                            </button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer-my">
                    <div id="result"></div>
                </div>
            </div>
        </div>
    </div>
    <!--    MODAL FOR CREATE NEW TAG    -->
</div>
{% endblock %}