{% extends 'app_settings/admin/admin_index.html' %}
{% load static %}
{% load cache %}


{% block title %}Список характеристик{% endblock %}

{% block heard %} {% include 'search_string.html' %} {% endblock %}

{% block content %}
<div class="Middle Middle_top" xmlns="http://www.w3.org/1999/html">
    <div class="Middle-top">
        <div class="wrap">
            <div class="Middle-header">
                <h1 class="Middle-title">Список характеристик
                </h1>

                {% block breadcrumbs %}
                <ul class="breadcrumbs Middle-breadcrumbs">
                    <li class="breadcrumbs-item">
                        <a href="{% url 'app_settings:category_list'  %}">Список категорий</a>
                    </li>
                    <li class="breadcrumbs-item breadcrumbs-item_current">
                        <span>{{ category }}</span>
                    </li>
                </ul>
                {% endblock %}
            </div>
        </div>
    </div>
    {% include 'messages/message.html' %}
    <div class="Section Section_column Section_columnLeft">
        <div class="wrap">
            <div class="Section-column">
                <div class="Section-columnSection">
                    <div class="Section-columnSection">
                        <header class="Section-header">
                            <strong class="Section-title">категория:
                            </strong>
                        </header>
                        <div>
                            <div class="primary-text" style="margin-bottom: 5px"><b>{{ category.title }}
                            </b>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Section-columnSection">
                    <header class="Section-header">
                        <strong class="Section-title">
                           {% if category.sub_categories.all %}
                            Подкатегории
                            {% else %}
                            Характеристики категории
                            {% endif %}
                        </strong>
                    </header>
                    <div class="Section-columnContent">
                        {% if category.sub_categories.all %}
                        <div> {% for sub_category in category.sub_categories.all %}
                            <div class="primary-text" style="margin-bottom: 15px">
                                <a href="{% url 'app_settings:feature_list' pk=sub_category.pk %}">
                                    {{ sub_category.title| lower }}</a>
                            </div>
                            {% endfor %}
                        </div>
                        {% else %}
                        <div style="margin-bottom: 5px">
                             <a class="success-text" href="{% url 'app_settings:feature_create' pk=category.pk %}">+ Добавить характеристику
                             </a>
                         </div>
                        <div> {% for feature in features %}
                            <div class="primary-text " style="margin-bottom: 15px">
                                {% if not feature.is_active %}
                                <a class="not_available" href="#{{ feature }}"><strike>{{ feature.title| lower }}
                                </strike>
                                </a>
                                <a href="{% url 'app_settings:feature_delete' category_id=category.pk pk=feature.pk %}">&#128257;
                                </a>
                                {% else %}
                                <a href="#{{ feature }}">{{ feature.title| lower }}
                                </a>
                                <a href="#featureDeleteModal_{{ feature }}">&#10060;
                                </a>
                                {% endif %}
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <!--    SORT BY     -->
            <div class="Section-content">
                {% if not category.sub_categories.all %}
                {% if features.count > 0 %}
                <div class="Sort">
                    <div class="Sort-title">Добавить значение характеристики</div>
                </div>
                <!--    SORT BY END    -->
                <div class="Orders">
                    <div class="Order Order_anons">
                        <div class="Order-personal">
                            <div class="row-block">
                                <div class="Order-title">
                                    <div class="Order-numberOrder">
                                        <a href="{% url 'app_settings:feature_create' pk=category.pk %}"
                                           class="btn btn_success btn_square">+ Добавить характеристику
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="Orders">
                    {% for feature in features %}
                    <div class="Order Order_anons">
                        <div class="Order-personal {% if not feature.is_active %}not_available{% endif %}">
                            <div class="row">
                                <div class="row-block">
                                    <div class="Order-title">
                                        <div id="{{ feature }}" class="Order-numberOrder">
                                        {% if feature.is_active %}
                                            <strong>{{ feature }}</strong>
                                            {% else %}
                                            <strike>{{ feature }}</strike>
                                            {% endif %}
                                        </div>
                                        {% if  feature.is_active %}
                                        <ul>
                                            {% for value in values %}
                                            {% if value.feature == feature %}
                                            {% if not value.is_active %}
                                            <li class="Order-numberOrder  not_available "
                                                style="margin:0 0 10px 20px;">{{ value }}
                                               <a href="{% url 'app_settings:value_delete' category_id=category.id pk=value.pk %}">&#128257;</a>
                                            </li>
                                            {% else %}
                                            <li class="Order-numberOrder"
                                                style="margin:0 0 10px 20px;">{{ value }}
                                               <a href="{% url 'app_settings:value_delete' category_id=category.id pk=value.pk %}">&#10060;</a>
                                            </li>
                                            {% endif %}
                                            {% endif %}
                                            {% endfor %}
                                            <li class="Order-numberOrder" style="margin:0 0 10px 20px;">
                                                <a href="{% url 'app_settings:value_create' pk=feature.pk %}"
                                                   class="btn btn_primary btn_square btn_sm">
                                                    + добавить новое значение
                                                </a>
                                            </li>
                                        </ul>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="Cart-block Cart-block_row" style="margin:0 20px">
                                    {% if feature.is_active %}
                                    <div class="Cart-block Cart-block_seller">
                                        <a class="Cart-delete"
                                           href="{% url 'app_settings:feature_edit' category_id=category.pk  pk=feature.pk %}">
                                            <img src="/assets/img/icons/edit.png" width="32"
                                                 alt="редактировать характеристику">
                                        </a>
                                    </div>
                                    <!--   GET TO THE ARCHIVED   -->
                                    <div class="Cart-block Cart-block_delete">
                                        <a class="Cart-delete" href="#featureDeleteModal_{{ feature }}">
                                            <img src="/assets/img/icons/card/delete.svg" alt="удалить"/>
                                        </a>
                                    </div>
                                    <!--   GET TO THE ARCHIVED   -->
                                    {% else %}
                                    <!--   GET BACK ACTIVE CATEGORY   -->
                                    <div class="Cart-block Cart-block_delete">
                                        <a class="Cart-delete"
                                           href="{% url 'app_settings:feature_delete' category_id=category.pk pk=feature.pk %}">
                                            <img src="/assets/img/icons/history.svg" width="32"
                                                 alt="вернуть из архива"/>
                                        </a>
                                    </div>
                                    <!--   GET BACK ACTIVE CATEGORY   -->
                                    {% endif %}
                                     <!--     MODAL FOR CONFIRM DELETE COMMENT    -->
                                    <div id="featureDeleteModal_{{ feature }}" class="modal-my">
                                        <div class="modal-dialog-my">
                                            <div class="modal-content-my">
                                                <div class="modal-header-my">
                                                    <a href="#close" title="Close" class="close-my">×</a>
                                                </div>
                                                <div class="modal-body-my">
                                                    <div class="form Payment">
                                                        <div class="form-group">
                                                            <h4>Удалить в архив характеристику </h4>
                                                            <h4><b>{{ feature|upper }}</b></h4>
                                                        </div>
                                                        <div class="form-group">
                                                            <br>
                                                        </div>
                                                        <div class="form-group">
                                                            <a href="{% url 'app_settings:feature_delete' category_id=category.pk pk=feature.pk %}"
                                                               class="btn btn_square btn_danger btn_narrow">удалить&#8195;x</a>
                                                            <a href="#close" title="Close"
                                                               class="btn btn_square btn_dark btn_narrow">отмена</a>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer-my"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--     MODAL FOR CONFIRM DELETE COMMENT    -->
                                </div>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                        <div class="Orders">
                    <div class="Order ">
                        <div class="Order-personal">
                            <img src="/media/default_images/not_found.png" width="100%">
                        </div>
                    </div>
                </div>
                    {% endfor %}

                <!--       PAGINATION         -->
                {% include "pagination/pagination.html" %}
                <!--       PAGINATION         -->

                </div>
                {% else %}
                <div class="Orders">
                    <div class="Order ">
                        <div class="Order-personal">
                            <img src="/media/default_images/not_found.png" width="100%">
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}