{% extends 'app_settings/admin/admin_index.html' %}
{% load static %}
{% load cache %}


{% block title %}Добавить характеристику{% endblock %}

{% block heard %} {% include 'search_string.html' %} {% endblock %}
{% block content %}
<div class="Middle Middle_top">
    <div class="Middle-top">
        <div class="wrap">
            <div class="Middle-header">
                <h1 class="Middle-title">Добавить новое значение</h1>
                 <ul class="breadcrumbs Middle-breadcrumbs">
                    <li class="breadcrumbs-item">
                        <a href="{% url 'app_settings:feature_list' pk=category_id %}">список характеристик
                        </a>
                    </li>
                    <li class="breadcrumbs-item breadcrumbs-item_current">
                        <span>новое значение</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% include 'messages/message.html' %}
    <div class="Section">
        <div class="wrap">
            <div class="form Payment">
                <div class="Payment-card form-shadow">
                    <div class="form-group">
                        <form class="form" action="#" method="post">
                            {% csrf_token %}
                            {% if form.errors.value %}
                                <div class="form-error">{{ form.errors.value }}
                                </div>
                            {% endif %}
                            <div class="form-group">
                                <input class="form-input" id="value" name="value"
                                       placeholder="Введите название характеристик" value="{{ request.POST.value }}"/>
                            </div>
                            {% if form.errors.value %}
                            <div class="form-error">{{ form.errors.value }}
                            </div>
                            {% endif %}
                            <div class="form-group">
                                <button class="btn btn_square btn_success btn_narrow" type="submit">
                                   Добавить новое значение
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

