{% extends 'app_store/seller_index.html' %}
{% load static %}
{% load cache %}

{% block title %}Редактировать заказ
{% endblock %}

{% block content %}
<div class="Middle Middle_top">
    <div class="Middle-top">
        <div class="wrap">
            <div class="Middle-header">
                <h1 class="Middle-title">Редактировать
                </h1>
                <ul class="breadcrumbs Middle-breadcrumbs">
                    <li class="breadcrumbs-item breadcrumbs-item_current">
                        <a href="{% url 'app_store:delivery_list' %}">Список заказов
                        </a>
                    </li>
                     <li class="breadcrumbs-item breadcrumbs-item_current">
                         <a href="{% url 'app_store:delivery_detail' order_item.order.pk %}">{{ order_item.order }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% include 'messages/message.html' %}
    <div class="Section Section_column Section_columnLeft">
        <div class="wrap">
        <div class="Section">
            <div class="wrap">
                <div class="form Cart">
                    <!--  CARD_ITEM LIST    -->


                    <div class="Cart-product">
                        <div class="Cart-block Cart-block_row">
                            <div class="Cart-block Cart-block_pict">
                                <a class="Cart-pict" href="#">
                                    {% if order_item.item.item.image.first %}
                                    <img class="Cart-img {% if not order_item.item.item.is_available %}Cart-img-not_available{% endif %}"
                                         src="{{ order_item.item.item.image.first.image.url }}"
                                         alt="{{ order_item.item.item.title }}_image"/>
                                    {% else %}
                                    <img class="Cart-img" src="/media/default_images/default_item.png"
                                         alt="{{ order_item.item.item.title }}_image"/>
                                    {% endif %}
                                </a>
                            </div>
                            <div class="Cart-block Cart-block_info">
                                <!--   ITEM'S TITLE    -->
                                <a class="Cart-title {% if not order_item.item.item.is_available %}Cart-title-not_available{% endif %}"
                                   href="{% url 'app_item:item_detail' order_item.item.item.pk %}">
                                    {{ order_item.item.item.title }}
                                </a>
                                <!--   ITEM'S TITLE    -->

                                <!-- ITEM QUANTITY IS NOT ENOUGH TO MAKE ORDER       -->


                                <!-- ITEM QUANTITY IS NOT ENOUGH TO MAKE ORDER       -->
                                <!-- ITEM'S DESCRIPTION -->
                                {% if order_item.item.item.is_available %}
                                <div class="Cart-desc">
                                    {% if order_item.item.item.description %}
                                    {{ order_item.item.item.description|truncatechars:100 }}
                                    {% endif %}

                                </div>
                                {% else %}
                                <div class="Cart-message-not_available">
                                    <span>товар закончился</span>
                                </div>
                                {% endif %}
                                <!-- ITEM'S DESCRIPTION -->
                            </div>
                            <div class="Cart-block Cart-block_price">
                                <div class="Cart-price {% if not order_item.item.item.is_available %}Cart-title-not_available{% endif %}"
                                     id="total_price_{{order_item.id}}" data-value="{{ order_item.total }}">
                                    ${{ order_item.total }}
                                </div>
                            </div>
                            </div>


                            <!--    Добавление или удаление единиц товара  -->
                            <div class="Cart-block Cart-block_amount">
                                <div class="Cart-amount">
                                    <!--  ADD & REMOVE ITEM FORM  -->

                                    <form class="Amount" id="{{ order_item.id }}" method="post"
                                          action="{% url 'app_store:order_item_edit' order_item.pk %}">
                                        {% csrf_token %}
                                        <a type="button" id="update-button-remove" data-index="{{order_item.id}}"
                                           class="Amount-remove update-button">
                                        </a>
                                        <input class="Amount-input form-input" id="input{{ order_item.id }}" readonly
                                               name="quantity"
                                               type="text" value="{{ order_item.quantity }}"/>
                                        <a type="button" id="update-button-add" data-index="{{  order_item.id   }}"
                                           class="Amount-add update-button ">
                                        </a>
                                    </form>

                                    <!--  ADD & REMOVE ITEM FORM  -->
                                </div>
                            </div>
                            <!--    Добавление или удаление единиц товара     -->

                            <!--    UPDATE ITEM AMOUNT   -->
                            <div class="Cart-block Cart-block_delete">
                                <button class="Cart-delete" form="{{ order_item.id }}">
                                    <img src="/assets/img/icons/update.svg" width="35">
                                </button>
                            </div>
                            <!--    UPDATE ITEM AMOUNT   -->

                            <!--   REMOVE ITEM FROM CART   -->
                            <div class="Cart-block Cart-block_delete">
                                <a class="Cart-delete" href="#">
                                    <img src="/assets/img/icons/card/delete.svg" alt="delete.svg"/>
                                </a>
                            </div>
                            <!--   REMOVE ITEM FROM CART   -->
                        </div>
                    </div>
                    <!--  CARD_ITEM LIST    -->




                </div>
            </div>
    </div>
    </div>
</div>



{% endblock %}