{% load cache %}
{% cache 60 footer %}
<footer class="Footer">
    <div class="wrap">
        <div class="row Footer-main">
            <div class="row-block">
                <a class="logo Footer-logo" href="index.html">
                    <img class="logo-image" src="/assets/img/logo_footer.png" alt="logo_footer.png"/>
                </a>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincid unt ut
                    laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad
                </p>
                <ul class="menu menu_img menu_smallImg Footer-menuSoc">
                    <li class="menu-item">
                        <a class="menu-link" href="{{ site_settings.facebook }}">
                            <img src="/assets/img/icons/socialFooter/fb.svg" alt="fb.svg"/>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="{{ site_settings.twitter }}">
                            <img src="/assets/img/icons/socialFooter/tw.svg" alt="tw.svg"/>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="{{ site_settings.linkedIn }}">
                            <img src="/assets/img/icons/socialFooter/in.svg" alt="in.svg"/>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="#">
                            <img src="/assets/img/icons/socialFooter/pt.svg" alt="pt.svg"/>
                        </a>
                    </li>
                    <li class="menu-item"><a class="menu-link" href="{{ site_settings.support_email }}">
                        <img src="/assets/img/icons/socialFooter/mail.svg" alt="mail.svg"/>
                    </a>
                    </li>
                </ul>
            </div>
            <div class="row-block">
                <strong class="Footer-title">Useful Links
                </strong>
                <ul class="menu menu_vt Footer-menu">
                    <li class="menu-item">
                        <a class="menu-link" href="#">Checkout
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="{% if cart_dict.cart %}
                       {% url 'app_cart:cart' pk=cart_dict.cart.pk  %}
                       {% else %}
                       {% url 'app_cart:cart_create' %}
                       {% endif %}">Корзина
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="#">Доставка
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="{% url 'app_order:order_list' %}">Заказы
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="#">Terms
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="#">Conditions
                        </a>
                    </li>
                </ul>
            </div>
            <div class="row-block">
                <strong class="Footer-title">My Account
                </strong>
                <ul class="menu menu_vt Footer-menu">
                    <li class="menu-item">
                        <a class="menu-link" href="#">Accessories
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="#">Bags
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="#">Cameras
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="#">Clothings
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="#">Electronics
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="#">Fashion
                        </a>
                    </li>
                </ul>
            </div>
            <div class="row-block">
                <strong class="Footer-title">Contacts
                </strong>
                <p>Phone: {{ site_settings.phone }}<br>
                    Email: {{ site_settings.support_email }}<br>
                    Skype: {{ site_settings.skype }}<br>
                    Address: {{ site_settings.address }}<br>

                </p>
            </div>
        </div>
    </div>
    <div class="Footer-copy">
        <div class="wrap">
            <div class="row row_space">
                <div class="row-block">© Copyright&#32;
                    <a href="#">Megano Store.</a>&#32;All rights reserved.
                </div>
                <div class="row-block"><span>Accepted Payments</span>
                    <div class="Footer-payments">
                        <div><img src="/assets/img/payments/visa.png" alt="visa.png"/>
                        </div>
                        <div><img src="/assets/img/payments/mastercard.png" alt="mastercard.png"/>
                        </div>
                        <div><img src="/assets/img/payments/paypal.png" alt="paypal.png"/>
                        </div>
                        <div><img src="/assets/img/payments/american.png" alt="american.png"/>
                        </div>
                        <div><img src="/assets/img/payments/electron.png" alt="electron.png"/>
                        </div>
                        <div><img src="/assets/img/payments/maestro.png" alt="maestro.png"/>
                        </div>
                        <div><img src="/assets/img/payments/delta.png" alt="delta.png"/>
                        </div>
                        <div><img src="/assets/img/payments/e.png" alt="e.png"/>
                        </div>
                        <div><img src="/assets/img/payments/dk.png" alt="dk.png"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
{% endcache %}