{% extends 'index.html' %}
{% load static  %}
{% load cache %}

{% block title %}
Регистрация пользователя
{% endblock %}

{% block content %}
<div class="Middle Middle_top">
    <div class="Middle-top">
        <div class="wrap">
            <div class="Middle-header">
                <h1 class="Middle-title">Регистрация пользователя </h1>
                <ul class="breadcrumbs Middle-breadcrumbs">
                    <li class="breadcrumbs-item">
                        <a href="{% url 'main' %}">главная страница</a>
                    </li>
                    <li class="breadcrumbs-item breadcrumbs-item_current">
                        <span>Регистрация пользователя</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="Section">
        <div class="wrap">
            <form method="post" class="form Payment form-shadow" action="">
                {% csrf_token %}
                <div class="Payment-card">

                    <!--    USERNAME FIELDS REQUIRED    -->
                    <div class="form-group">
                        {% if form.errors.username %}
                        <div class="form-error" >
                            {{ form.errors.username }}
                        </div>
                        {% endif %}
                        <label class="form-label" for="username">логин
                        </label>
                        <input class="form-input" id="username" name="username" type="text"
                               placeholder="логин" value="{{ request.POST.username }}" required/>
                    </div>
                    <!--    USERNAME FIELDS REQUIRED    -->

                    <!--    PASSWORD FIELDS REQUIRED    -->
                    <div class="form-group">
                        {% if form.errors.password2 %}
                        <div class="form-error ">
                            {{ form.errors.password2 }}
                        </div>
                        {% endif %}
                         <label class="form-label" for="password1">пароль
                        </label>
                        <input class="form-input" id="password1" name="password1" type="password"
                               placeholder="пароль" required/>
                    </div>
                    <div class="form-group">
                        <input class="form-input" id="password2" name="password2" type="password"
                               placeholder="повторить пароль" required/>
                    </div>
                    <!--    PASSWORD FIELDS REQUIRED    -->

                    <!--    TELEPHONE FIELD REQUIRED                -->
                    <div class="form-group">
                         {% if form.errors.telephone %}
                        <div class="form-error ">{{ form.errors.telephone }}
                        </div>
                        {% endif %}
                        <label class="form-label" for="telephone">телефон
                        </label>
                        <input class="form-input" id="telephone" name="telephone" type="text"
                               placeholder="телефон" value="{{ request.POST.telephone }}"
                               data-mask="+7 (999) 999 99 99"/>
                    </div>
                    <!--    TELEPHONE FIELD REQUIRED    -->

                    <!--    EMAIL FIELDS REQUIRED    -->
                    <div class="form-group">
                        {% if form.errors.email %}
                        <div class="form-error ">{{ form.errors.email }} например - post@mail.com
                        </div>
                        {% endif %}
                        <label class="form-label" for="email">почта
                        </label>
                        <input class="form-input" id="email" name="email" type="text"
                               placeholder="почта" value="{{ request.POST.email }}"/>
                    </div>
                     <!--    EMAIL FIELDS REQUIRED    -->

                     <!--    ROLE CHECKBOX REQUIRED    -->
                    <div class="form-group">
                        <label class="form-label" >Роль на сайте
                        </label>
                        <label class="toggle" style="margin-right: 10px;">
                            <input type="radio" name="group" id="customer"  checked value="customer"/>
                            <span class="toggle-box"></span>
                            <span class="toggle-text">покупатель</span>
                        </label>
                         <label class="toggle" style="margin-right: 10px;">
                            <input type="radio" name="group" id="seller" value="seller"/>
                            <span class="toggle-box"></span>
                            <span class="toggle-text">продавец</span>
                        </label>
                         <label class="toggle" style="margin-right: 10px;">
                            <input type="radio" name="group" id="admin" value="admin"/>
                            <span class="toggle-box"></span>
                            <span class="toggle-text">админ</span>
                        </label>
                    </div>
                     <!--    ROLE CHECKBOX REQUIRED    -->

                    <div class="form-group">
                        {% csrf_token %}
                        <button type="submit" class="btn btn_muted Order-btnReg">Зарегистрироваться</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
{% endblock %}