{% extends 'index.html' %}
{% load static  %}
{% load cache

{% block title %}
Смена пароля
{% endblock %}

{% block content %}
<div class="Middle Middle_top">
    <div class="Middle-top">
        <div class="wrap">
            <div class="Middle-header">
                <h1 class="Middle-title">Измените свой пароль</h1>
                <ul class="breadcrumbs Middle-breadcrumbs">
                      <li class="breadcrumbs-item">
                        <a href="{% url 'main' %}">главная стариница
                        </a>
                    </li>
                    <li class="breadcrumbs-item breadcrumbs-item_current">
                        <span>Смена пароля</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="Section">
        <div class="wrap">
            <!--   FORM -->
            <form method="post" class="form Payment" action=".">
                {% csrf_token %}
                <div class="Payment-card">
                    <div class="form-group">
                        <h1>Измените свой пароль</h1>
                        <h3>{{request.user.get_full_name}}</h3>

                        {% include "error_message.html" %}

                        <div class="form-group">
                            <input class="form-input" id="old_password" name="old_password" type="password"
                                   placeholder="Старый пароль"/>
                        </div>
                        <div class="form-group">
                            <input class="form-input" id="new_password1" name="new_password1" type="password"
                                   placeholder="Новый пароль"/>
                        </div>
                        <div class="form-group">
                            <input class="form-input" id="new_password2" name="new_password2" type="password"
                                   placeholder="Подтверждение нового пароля "/>
                        </div>
                        <div class="form-group">
                            <button class="btn btn_success btn_full" type="submit" value="Сменить">Сменить</button>
                        </div>
                    </div>
                </div>
            </form>
            <!--   FORM -->


        </div>
    </div>
</div>
{% endblock %}



