{% extends 'index.html' %}
{% load static  %}
{% load cache %}

{% block title %}Сбросить свой пароль{% endblock %}

{% block content %}
<div class="Middle Middle_top">
    <div class="Middle-top">
        <div class="wrap">
            <div class="Middle-header">
                <h1 class="Middle-title">Сбросить свой пароль</h1>
                <ul class="breadcrumbs Middle-breadcrumbs">
                    <li class="breadcrumbs-item">
                        <a href="{% url 'main' %}">главная стариница
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="Section">
        <div class="wrap">
            <!--   FORM -->
            <form method="post" class="form Payment" action="{% url 'app_user:password_reset' %}">
                {% csrf_token %}
                <div class="Payment-card">
                    <div class="form-group">
                        <div class="ProductCard-title">Забыли свой пароль?</div>
                        <p>Введите свой адрес электронной почты, чтобы получить новый пароль.</p>
                        {% if form.errors %}
                          <div class="form-error form-textarea_error" role="alert">
                              Ошибка: Пожалуйста, попробуйте еще раз!
                          </div>
                        {% endif %}
                        <div class="form-group">
                            <input class="form-input" id="email" name="email" type="text"
                                   placeholder="Электронная почта"/>
                        </div>
                        <div class="form-group">
                            <button class="btn btn_success btn_full" type="submit" value="Отправить письмо">
                                Отправить письмо
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <!--   FORM -->


        </div>
    </div>
</div>
{% endblock %}