{% extends 'index.html' %}
{% load static  %}
{% load cache %}


{% block title %}Пароль изменен успешно{% endblock %}

{% block content %}
<div class="Middle Middle_top">
    <div class="Middle-top">
        <div class="wrap">
            <div class="Middle-header">
                <h1 class="Middle-title">Пароль изменен успешно</h1>
                <ul class="breadcrumbs Middle-breadcrumbs">
                    <li class="breadcrumbs-item">
                        <a href="{% url 'main' %}">главная стариница
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="Section">
        <div class="wrap">
            <!--   FORM -->
            <div class="form Payment">
                {% csrf_token %}
                <div class="Payment-card">
                    <div class="form-group">
                        <img src="/assets/img/icons/success.svg" width="100">
                        <div class="ProductCard-title">Пароль успешно сброшен</div>
                        <div class="form-group">

                            Мы отправили вам по электронной почте инструкцию по установке пароля.</div>
                        <div class="form-group">
                            <small>Если вы не получили электронное письмо, пожалуйста, убедитесь,
                                что вы ввели адрес, с которым зарегистрировались, и проверьте папку со спамом.</small>
                        </div>

                        <div>

                        </div>
                    </div>
                </div>
            </div>
            <!--   FORM -->
        </div>
    </div>
</div>
{% endblock %}


