{% extends 'index.html' %}
{% load static  %}
{% load cache %}
{% block title %}
Новый пароль сохранен
{% endblock %}

{% block content %}
<div class="Middle Middle_top">
    <div class="Middle-top">
        <div class="wrap">
            <div class="Middle-header">
                <h1 class="Middle-title">Новый пароль сохранен</h1>
                <ul class="breadcrumbs Middle-breadcrumbs">
                    <li class="breadcrumbs-item">
                        <a href="{% url 'main' %}">главная стариница
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="Section">
        <div class="wrap">
            <div class="form Payment">
                <div class="Payment-card">
                    <div class="form-group">
                        <img src="/assets/img/icons/success.svg" width="100">
                        <div class="ProductCard-title">Пароль изменен успешно</div>
                        <div class="form-group">
                        <a class="btn btn_success" href="{% url 'app_user:login'  %}">Войти</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


