<!DOCTYPE html>
<html lang="ru">
{% load cache %}
{% load static %}

<head>
    <title>Megano</title>
    <meta name="description" content="Описание страницы">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

    <link href="{% static 'favicon.ico' %}"     rel="shortcut icon">
    <link href="/assets/img/icons/favicon.ico"  rel="shortcut icon">

    <link  href="/assets/fonts/Roboto/Roboto-Regular.woff"      rel="preload" as="font">
    <link  href="/assets/fonts/Roboto/Roboto-Italic.woff"       rel="preload" as="font">
    <link  href="/assets/fonts/Roboto/Roboto-Bold.woff"         rel="preload" as="font">
    <link  href="/assets/fonts/Roboto/Roboto-Bold_Italic.woff"  rel="preload" as="font">
    <link  href="/assets/fonts/Roboto/Roboto-Light.woff"        rel="preload" as="font">
    <link  href="/assets/fonts/Roboto/Roboto-Light_Italic.woff" rel="preload" as="font">

    <link href="/assets/css/fonts.css"  rel="stylesheet" type="text/css">
    <link href="/assets/css/basic.css"  rel="stylesheet" type="text/css">
    <link href="{% static 'css/basic.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/basic.css' %}" rel="stylesheet" type="text/css">
    <link href="/assets/css/extra.css"  rel="stylesheet" type="text/css">
    <!--    MY CSS FILE -->

    <link href="/assets/css/my_css.css"  rel="stylesheet" type="text/css">
    <!--  ICONS -->
    <link href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"  rel="stylesheet">
    <link  href="/assets/css/font-awesome.min.css"  rel="stylesheet">
    <script src="/assets/plg/CountDown/countdown.js"></script>

</head>
<body class="Site" style="background-color: transparent">

<!--   ONLY FOR DEBUG    -->
<div class="row-block seller_label" style="background-color: #F4CA16;  color:black; padding: 0 10px">
   <b>только для тестирования</b>
    {% if request.user.is_authenticated %}
    <span class="seller_label">ROLE  - <b style="color:black; font-size:15px;">{{ request.user.groups.first|upper  }}</b></span>
    {% endif %}
    <span style="background-color: {% if request.user.is_authenticated %} coral {% else %}red{% endif %};" class="seller_label">
        USER   <b style="color:black; font-size:19px;">{{ request.user }}</b>
    </span>
    {% if cart_dict.cart %}
    <span style="background-color: {% if cart_dict.cart %} green {% else %}red{% endif %};" class="seller_label">КОРЗИНА
        <b style="color:black; font-size:15px;"> {{ cart_dict.cart }}</b>
    </span>
    {% endif %}
    {% if request.COOKIES.cart %}
    <span style="background-color: {% if request.session.session_key %}blue{% else %}red{% endif %};" class="seller_label">
        SESSION_KEY -   {% if request.COOKIES.cart %}
            <b style="color:black; font-size:19px;">{{ request.session.session_key|truncatechars:5 }}</b>
        {% else %}
            <b style="color:black; font-size:19px;">NONE</b>
        {% endif %}
    </span>
    <span style="background-color: {% if request.COOKIES.cart %} orange {% else %}red{% endif %};" class="seller_label">
        COOKIES  -  {% if request.COOKIES.cart %}
            <b style="color:black; font-size:19px;">{{ request.COOKIES.cart|truncatechars:5 }}</b>
        {% else %}
            <b style="color:black; font-size:19px;">NONE</b>
        {% endif %}
    </span>
    {% endif %}
</div>
<!--   ONLY FOR DEBUG    -->

<header class="Header">
    <div class="ControlPanel">
        <div class="wrap">
            <div class="row ControlPanel-row">
                {% cache 360000 delivery %}
                <div class="row-block">
                    <div class="row ControlPanel-rowSplit">
                        <div class="row-block">
                            <a class="ControlPanel-title" href="#">Free Delivery</a>
                        </div>
                        <div class="row-block hide_700">
                            <span class="ControlPanel-title">Follow Us</span>
                            <ul class="menu menu_img menu_smallImg ControlPanel-menu">
                                <li class="menu-item">
                                    <a class="menu-link" href="#">
                                        <img src="/assets/img/icons/socialHeader/fb.svg" alt="fb.svg"/>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-link" href="#">
                                        <img src="/assets/img/icons/socialHeader/tw.svg" alt="tw.svg"/>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-link" href="#">
                                        <img src="/assets/img/icons/socialHeader/in.svg" alt="in.svg"/>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-link" href="#">
                                        <img src="/assets/img/icons/socialHeader/pt.svg" alt="pt.svg"/>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-link" href="#">
                                        <img src="/assets/img/icons/socialHeader/mail.svg" alt="mail.svg"/>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
                {% endcache %}
                <nav class="row-block">
                    <div class="row ControlPanel-rowSplit">

                        <div class="row-block">
                            {% if request.user.profile.avatar %}

                            <img src="{{ request.user.profile.avatar.url }}" height="20" width="20" style="border-radius:50px; margin-right: 5px">
                            {% endif %}
                            {% if request.user.is_authenticated %}
                            <a class="ControlPanel-title" href="{% url 'app_user:account' request.user.pk %}">
                                {% if request.user.get_full_name %}
                                {{ request.user.get_full_name| truncatechars:10 }}
                                {% else %} {{ request.user.username }}
                                {% endif %}
                            </a>&#160;/&#160;
                            <a class="ControlPanel-title" href="{% url 'app_user:logout' %}">Выйти
                            </a>
                            {% else %}
                            <a class="ControlPanel-title" href="{% url 'app_user:login' %}">Войти
                            </a>&#160;/&#160;
                            <a class="ControlPanel-title" href="{% url 'app_user:register' %}">Регистрация
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="wrap">
        <div class="row Header-rowMain">
            <div class="row-block Header-logo">
                <a class="logo" href="{% url 'main' %}">
                    <img class="logo-image" src="/assets/img/logo.png" alt="logo.png"/>
                </a>
            </div>

            {% if request.user.groups.first.name == 'customer' or not request.user.is_authenticated %}
            <!--    NAVBAR  -->
            {% include 'app_user/customer/navbar/nav_bar.html' %}
            <!--    NAVBAR END -->
            <!--    CART  -->
            <div class="row-block">
                <div class="CartBlock">
                      <!--  ITEM'S COST COUNTER OF THE CART   -->
                    {% if cart_dict.cart.get_total_price_with_discount > 0 %}
                    <div class="CartBlock-block">
                            <span class="CartBlock-price">
                                {% if cart_dict.cart %}
                                ${{ cart_dict.cart.get_total_price_with_discount  }}
                                {% endif %}
                               </span>
                    </div>
                    {% endif %}
                    <!--  ITEM'S COST COUNTER OF THE CART   -->
                    <a class="CartBlock-block" id="index_cart" href="{% if cart_dict.cart %}
                                                               {% url 'app_cart:cart' pk=cart_dict.cart.pk  %}
                                                               {% else %}
                                                               {% url 'app_cart:cart_create' %}
                                                               {% endif %}"
                        title="Корзина">
                        <img class="CartBlock-img" src="/assets/img/icons/cart.svg" alt="cart.svg"/>
                        <!--  ITEM'S COUNTER OF THE CART   -->
                        {% if not cart_dict.cart.is_empty and cart_dict.cart %}
                        <span class="CartBlock-amount">
                            {{ cart_dict.cart.get_total_quantity }}
                        </span>
                        {% endif %}
                        <!--  ITEM'S COUNTER OF THE CART   -->

                    </a>
                     <!--  FAVORITES   -->
                    <a class="CartBlock-block" href="{% url 'app_favorite:detail_favorites' %}"
                       title="Сравнение товаров" >
                        <img src="/assets/img/icons/star_off.svg" width="30px">
                        <!--  ITEM'S COUNTER OF THE FAVORITES   -->
                         {% if favorites_count > 0 %}
                        <span class="CartBlock-amount">{{ favorites_count }}
                        </span>
                        {% endif %}
                    </a>
                    <!--  FAVORITES   -->

                    <!--  COMPARE   -->
                    <a class="CartBlock-block" href="{% url 'app_compare:compare' %}"
                       title="Сравнение товаров">
                       <i class="uil  uil-graph-bar" style="font-size:25px; color:#555"></i>
                        {% if compare_count > 0 %}
                        <span class="CartBlock-amount">
                           {{ compare_count }}
                        </span>
                        {% endif %}
                    </a>
                    <!--  COMPARE   -->

                    <!--    ORDERS  -->

                    <a class="CartBlock-block" href="{% url 'app_order:order_list' %}" title="Заказы">
                        <i class="uil uil-box" style="font-size:30px; color:#555555"></i>
                        {% if new_order.count != 0 and new_order.count %}
                        <span class="CartBlock-amount" title="новые заказы">
                            {{ new_order.count }}
                        </span>
                        {% endif %}
                    </a>

                    <!--    ORDERS  END-->
                </div>
            </div>
            <!--    CART END -->
            {% endif %}

            {% if   request.user.profile.role == 'SLR' %}
            <!--    NAVBAR FOR SELLER-->
            {% include 'app_store/seller_navbar.html' %}
            <!--    NAVBAR FOR SELLER END -->
            <!--    DELIVERY   -->
            <div class="row-block">
                <div class="CartBlock">
                    <a class="CartBlock-block" href="{% url 'app_store:delivery_list' %}">
                        <img class="CartBlock-img" src="/assets/img/icons/delivery.svg" alt="delivery"/>
                        <!--  ORDER'S COUNTER FOR DELIVERY  -->
                        {% if new_order %}
                            <span class="CartBlock-amount">{{ new_order }}</span>
                        {% endif %}
                        <!--  ORDER'S COUNTER FOR DELIVERY    -->
                    </a>
                    <!--  ITEM'S COST COUNTER OF THE CART   -->
                    <div class="CartBlock-block">
                        <span class="CartBlock-price">
                            {% if cart_total_sum > 0 %}
                            {{ cart_total_sum  }}$
                            {% else  %} 0
                            {% endif %}</span>
                    </div>
                    <!--  ITEM'S COST COUNTER OF THE CART   -->
                </div>
            </div>
            <!--    DELIVERY END -->
            {% endif %}
            <div class="row-block Header-trigger">
                <a class="menuTrigger" href="#navigate">
                    <div class="menuTrigger-content">
                        Показать навигацию
                    </div>
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div>
        </div>
    </div>
    {% block heard %}{% endblock %}
</header>

<!-- CONTENT -->
<div>
    {% block content %}
    {% endblock %}
</div>
<!-- CONTENT -->

<!-- FOOTER -->
{% include 'footer/footer.html' %}
<!-- FOOTER -->


<script src="https://code.jquery.com/jquery-3.6.1.js"
        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.0.js"
        integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc="
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>

<!--<script type="text/javascript" src="/assets/plg/jQuery/jquery-3.5.0.slim.min.js"></script>-->
<script type="text/javascript" src="/assets/plg/form/jquery.form.js"></script>
<script type="text/javascript" src="/assets/plg/form/jquery.maskedinput.min.js"></script>

<script type="text/javascript" src="/assets/plg/range/ion.rangeSlider.min.js"></script>
<script type="text/javascript" src="/assets/plg/Slider/slick.min.js"></script>
<script type="text/javascript" src="/assets/js/scripts.js"></script>
<script type="text/javascript" src="/assets/js/my_scripts.js"></script>
</body>
</html>


