{% extends 'index.html' %}
{% load static %}
{% load cache %}

{% block title %}Список избранных товаров{% endblock %}
{% block content %}

<div class="Middle Middle_top" xmlns="http://www.w3.org/1999/html">
    <div class="Middle-top">
        <div class="wrap">
            <div class="Middle-header">
                <h1 class="Middle-title">Избранные товары
                </h1>
                {% block breadcrumbs %}
                <ul class="breadcrumbs Middle-breadcrumbs">
                    <li class="breadcrumbs-item">
                        <a href="{% url 'app_settings:dashboard' %}">главная старница
                        </a>
                    </li>
                    <li class="breadcrumbs-item breadcrumbs-item_current">
                        <span>Избранные товары
                        </span>
                    </li>
                </ul>
                {% endblock %}
            </div>
        </div>
    </div>

    <!--    MESSAGE STRING  -->
    {% include 'messages/message.html' %}
    <!--    MESSAGE STRING  -->

    <div class="Section">
        <div class="wrap">
            <div class="Cart">
                {% for object in object_list %}
                <div class="Cart-product">
                    <div class="Cart-block Cart-block_row" style="margin:0 20px">
                        <div class="Cart-block Cart-block_pict">
                            <div class="Cart-pict" >
                                <img class="Cart-img" src="{{ object.main_image }}" alt="avatar"/>
                            </div>
                        </div>
                        <div class="Cart-block Cart-block_info">
                            <span class="Cart-title ">{{ object.title }}
                            </span>
                            <div class="Cart-desc">{{ object.category }}
                            </div>
                            <div class="Cart-desc">магазин - {{ object.store }}
                            </div>
                        </div>
                        <div class="Cart-block Cart-block_price">
                            <div class="Cart-price">${{ object.price }}
                            </div>
                        </div>
                    </div>
                    <div class="Cart-block Cart-block_row" style="margin:0 20px">
                        <!--   REMOVE ITEM FROM CART   -->
                        <div class="Cart-block Cart-block_delete">

                            <a class="Cart-delete" href="{% url 'app_favorite:remove_item' pk=object.pk %}">
                                <img src="/assets/img/icons/card/delete.svg" alt="delete.svg"/>
                            </a>

                        </div>
                        <!--   REMOVE ITEM FROM CART   -->
                    </div>
                </div>
                {% empty %}
                <div class="form-group">
                    <img src="/media/default_images/not_found.png" width="100%">
                </div>
                {% endfor %}

            </div>
            <!--       PAGINATION         -->
            <div>{% include "pagination/pagination.html" %}</div>
            <!--       PAGINATION         -->
        </div>
    </div>
</div>

{% endblock %}