{% extends 'app_store/seller_index.html' %}
{% load static %}
{% load cache %}

{% block title %}Создать магазин{% endblock %}

{% block content %}
<div class="Middle Middle_top">
    <div class="Middle-top">
        <div class="wrap">
            <div class="Middle-header">
                <h1 class="Middle-title">Создать магазин
                </h1>
                <ul class="breadcrumbs Middle-breadcrumbs">
                    <li class="breadcrumbs-item">
                        <a href="{% url 'app_store:store_list' %}">мои магазины
                        </a>
                    </li>
                    <li class="breadcrumbs-item breadcrumbs-item_current">
                        <span>Создать новый магазин
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="Section Section_column Section_columnLeft">
        <div class="wrap">
            <div class="Section-column">
                {% include "app_store/sidebar_seller.html" %}
            </div>
            <div class="Section-content">
                <div class="Profile">
                    <form class="form Profile-form" action="." method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="row-block">
                                <!--    OWNER FIELD  -->
                                <div class="form-group">
                                    <label class="form-label" for="owner">собственник </label>
                                    <label class="form-input" for="owner">{{ request.user.get_full_name }}</label>
                                    <input class="form-input" id="owner" name="owner" type="hidden"
                                            value="{{ request.user.id }}"/>
                                    {% if form.errors.owner %}
                                    <div class="form-error">{{ form.errors.owner }}
                                    </div>
                                    {% endif %}
                                </div>
                                <!--    OWNER FIELD  -->

                                <!--    TITLE FIELD  -->
                                <div class="form-group">
                                    <label class="form-label" for="title">название магазина</label>
                                    <input class="form-input" id="title" name="title" type="text"/>
                                    {% if form.errors.title %}
                                    <div class="form-error">{{ form.errors.title }}
                                    </div>
                                    {% endif %}
                                </div>
                                <!--    TITLE FIELD  -->

                                <!--    DELIVERY FEES FIELD  -->
                                <div class="form-group">
                                    <label class="form-label" for="discount">скидка</label>
                                    <input class="form-input" id="discount" name="discount" type="number" value="0"/>
                                    {% if form.errors.discount %}
                                    <div class="form-error">{{ form.errors.discount }}
                                    </div>
                                    {% endif %}
                                </div>
                                <!--    DELIVERY FEES FIELD   -->
                                <!--    MINIMUM FREE DELIVERY  FIELD  -->
                                <div class="form-group">
                                    <label class="form-label" for="min_for_discount">минимальная сумма для скидки
                                    </label>
                                    <input class="form-input" id="min_for_discount" name="min_for_discount"
                                           type="number" value="0"/>
                                    {% if form.errors.min_for_discount %}
                                    <div class="form-error">{{ form.errors.min_for_discount }}
                                    </div>
                                    {% endif %}
                                </div>
                                <!--    MINIMUM FREE DELIVERY  FIELD  -->



                            </div>
                            <div class="row-block">
                                <!--    LOGO FIELD  -->
                                <div class="form-group">
                                    <label class="form-label" for="logo">Аватар
                                    </label>
                                    <div class="Profile-avatar">
                                        <div class="Profile-img">
                                            {% if user.profile.avatar %}
                                            <img src="/media/default_images/store.png" alt="логотип магазина"/>
                                            {% endif %}
                                        </div>
                                        {% if form.errors.avatar %}
                                        <div class="form-error">{{ form.errors.avatar }}</div>
                                        {% endif %}
                                        <label class="Profile-fileLabel" for="logo">Выберите аватар
                                        </label>
                                        <input class="Profile-file form-input" id="logo" name="logo"
                                               data-validate="onlyImgAvatar" type="file"/>
                                    </div>
                                </div>
                                <!--    LOGO FIELD  -->
                                    <!--    TITLE DESCRIPTION  -->
                                <div class="form-group">
                                    <label class="form-label" for="description">описание</label>
                                    <textarea class="form-input" id="description" name="description"
                                              placeholder="Описание"></textarea>
                                    {% if form.errors.description %}
                                    <div class="form-error">{{ form.errors.description }}
                                    </div>
                                    {% endif %}
                                </div>
                                <!--    TITLE DESCRIPTION  -->

                                <div class="form-group">
                                    <div class="Profile-btn">
                                        <button class="btn btn_success btn_square btn_full" type="submit">Сохранить
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}