{% extends 'app_store/seller_index.html' %}
{% load static %}
{% load cache %}

{% block title %}Магазин{% endblock %}

{% block content %}
<div class="Middle Middle_top">
    <div class="Middle-top">
        <div class="wrap">
            <div class="Middle-header">
                <h1 class="Middle-title">
                    {% if not message %}
                    Каталог товаров магазина <b>{{ store.title }}</b>
                    {% else %}
                    сортировка по {{ message }}
                    {% endif %}
                </h1>
                {% block breadcrumbs %}
                <ul class="breadcrumbs Middle-breadcrumbs">
                     <li class="breadcrumbs-item">
                        <a href="{% url 'app_store:dashboard' %}">главная стариница
                        </a>
                    </li>
                    <li class="breadcrumbs-item">
                        <a href="{% url 'app_store:store_list' %}">мои магазины</a>
                    </li>
                    <li class="breadcrumbs-item breadcrumbs-item_current">
                        <span>{{ store }}
                        </span>
                    </li>
                </ul>
                {% endblock %}
            </div>
        </div>
    </div>
{% include 'messages/message.html' %}
    <div class="Section Section_column Section_columnLeft">
        <div class="wrap">
            <div class="Section-column">
                <div class="Section-columnSection">
                    <header class="Section-header">
                        <strong class="Section-title">{{ store.title }}</strong>
                    </header>
                      <div class="Section-columnContent">
                            <div class="buttons">
                                <a href="{% url 'app_store:add_item' store.pk %}"
                                   class="btn btn_square btn_primary btn_narrow btn_full">+ Добавить товар
                                </a></div>
                        </div>
                    <div class="Section-columnContent">
                        <!-- ITEM CATEGORY FILTER  -->
                        <div class="Section-columnSection">
                            <header class="Section-header">
                                <strong class="Section-title">фильтр
                                </strong>
                            </header>
                            <!--    TITLE INPUT -->
                            <div class="form">
                                <form method="get" action="{% url 'app_store:store_detail' pk=store.pk %}">
                                    <div class="form-group">
                                        <input class="form-input form-input_full" name="q" type="search"
                                               placeholder="название товара"
                                               value="{% if request.GET.q %} {{ request.GET.q }}{% endif %}"/>
                                    </div>
                                    <div class="Section-columnSection">
                                        <div class="form-group">
                                            <div class="buttons">
                                                <button class="btn btn_square btn_dark btn_narrow btn_full"
                                                        type="submit">
                                                    Поиск товара
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!--    TITLE INPUT -->
                            <div class="Section-columnContent">
                                <div class="buttons">
                                    <a href="{% url 'app_store:store_detail' pk=store.pk  %}"
                                       class="btn btn_default btn_square btn_full">все товары
                                    </a>
                                    {% for category in categories %}
                                    <a href="{% url 'app_store:category_item' pk=store.pk slug=category.slug %}"
                                       class="btn btn_default btn_square btn_full">{{ category }}
                                    </a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    <!-- ITEM CATEGORY FILTER  -->
                        <!--    FORM    -->
                        <div class="form">
                            <form>
                                <div class="form-group">
                                    <div class="ProductCard-title">{{ store.title }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="Profile-avatar">
                                        <div class="Profile-img">
                                            <img class="" src="{{ store.get_logo }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>скидка</label>
                                    <div class="Card-content Card-title Card-price Cart-total-order">
                                        {{ store.discount }}%
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>минимальная сумма для скидки
                                    </label>
                                    <div class="Card-content Card-title Card-price Cart-total-order">
                                        ${{ store.min_for_discount|floatformat:"2" }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <a class="btn btn_dark btn_square btn_full"
                                       href="{% url 'app_store:store_edit' store.pk %}">редактировать
                                    </a>
                                </div>
                            </form>
                        </div>
                        <!--    FORM    -->
                    </div>
                    <div class="Section-columnSection">
                        <header class="Section-header">
                            <strong class="Section-title">Статистика
                            </strong>
                        </header>
                        <div class="form-group">
                             <div class="buttons">
                                <a href="{% url 'app_store:delivery_list' %}?stores={{ store.title }}"
                                   class="btn btn_square btn_dark btn_narrow  btn_full ">
                                    Заказы "{{ store.title }}"
                                </a>
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="toggle-text">Всего позиций товаров
                            </span>
                            <div class=" Card-content Card-title Card-price Cart-total-order">
                                {{store.items.count}}
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="toggle-text">Продано на сумму
                            </span>
                            <div class="Card-content Card-title Card-price Cart-total-order">
                                {% if total_profit > 0 %}
                                ${{ total_profit|floatformat:"2" }}
                                {% else %}
                                $0,00
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!--     Загрузить        -->
                    <div class="Section-columnSection">
                        <header class="Section-header">
                            <strong class="Section-title">Товары
                            </strong>
                        </header>

                        <div class="Section-columnContent">
                            <div class="buttons">

                            </div>
                            <div class="buttons">
                                <a href="{% url 'app_store:export_data' store.pk %}"
                                   class="btn btn_square btn_dark btn_narrow btn_full"> Выгрузить CVS
                                </a>
                            </div>
                        </div>
                        <div class="Section-columnContent">
                            <div class="buttons">
                                <form id='import_cvs_form' method="post"
                                      action="{% url 'app_store:import_data' store.pk %}"
                                      enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <input class="form-input" type="file" name="file" required>
                                </form>
                                <button class="btn btn_square btn_dark btn_narrow btn_full"
                                        form="import_cvs_form" type="submit">
                                    Загрузить CVS
                                </button>
                            </div>
                        </div>
                    </div>
                    <!--     Загрузить   END     -->
                </div>
            </div>
            <div class="Section-content">
                <!--    SORT ITEMS -->
                <div class="Sort">
                    <div class="Sort-title">Сортировать по:
                    </div>
                    <div class="Sort-variants">
                        <a class="Sort-sortBy" href="{% url 'app_store:store_detail'  pk=store.pk %}">
                            <span class="btn btn_default btn_square btn_sm">все
                            </span>
                        </a>
                        <a class="Sort-sortBy"
                           href="?{% for key, val in request.GET.lists  %}{% if key != 'order_by' %}{{ key }}={{ val|join:';'|urlencode}}&{% endif %}{% endfor %}order_by=stock">
                            <span class="btn btn_default btn_square btn_sm">количеству &#8593;
                            </span>
                        </a>
                        <a class="Sort-sortBy"
                           href="?{% for key, val in request.GET.lists  %}{% if key != 'order_by' %}{{ key }}={{ val|join:';'|urlencode}}&{% endif %}{% endfor %}order_by=-stock">
                            <span class="btn btn_default btn_square btn_sm">количеству &#8595;
                            </span>
                        </a>
                        <a class="Sort-sortBy"
                           href="?{% for key, val in request.GET.lists  %}{% if key != 'order_by' %}{{ key }}={{ val|join:';'|urlencode}}&{% endif %}{% endfor %}order_by=rest">
                             <span class="btn btn_default btn_square btn_sm"><span class="danger-text">остатки</span>
                            </span>
                        </a>
                        <a class="Sort-sortBy"
                           href="?{% for key, val in request.GET.lists  %}{% if key != 'order_by' %}{{ key }}={{ val|join:';'|urlencode}}&{% endif %}{% endfor %}order_by=limited_edition">
                            <span class="btn btn_default btn_square btn_sm"><span class="warning-text">лимитные</span>
                            </span>
                        </a>


                    </div>
                </div>
                <!--    SORT ITEMS -->
                <!--    ITEMS LIST -->
                <div class="Orders">
                    {% for item in object_list %}
                    <div class="Order Order_anons">
                        <div class="Order-personal">
                            <div class="row">
                                <!--    ITEM ID    -->
                                <div class="row-block">
                                    <div class="Order-info">
                                        <div class="Order-infoType">
                                            <span class="Order-infoType">{{ item.id }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <!--    ITEM ID    -->

                                <!--    ITEM IMAGE    -->
                                <div class="row-block">
                                    <div class="Order-info {% if item.is_active %} non_available{% endif %}">
                                        <div class="Order-infoType">
                                            <img src="{{ item.main_image }}" width="80" >
                                        </div>
                                    </div>
                                </div>
                                <!--    ITEM IMAGE    -->

                                <!--    ITEM  TITLE    -->
                                <div class="row-block">
                                    <a class="Order-info" href="#">
                                        <span class="Order-infoType">{{ item.title|truncatechars:'19' }}</span>
                                    </a>
                                </div>
                                <!--    ITEM'S TITLE    -->

                                <!--  ITEM PRICE -->
                                <div class="row-block">
                                   {% if not item.is_active %}
                                    <div class="Order-info">
                                        <div class="Card-icon-view-and-sell">
                                            ${{ item.price|floatformat:2 }}
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if item.stock < 1 %}
                                    <div class="Order-info">
                                        <div class="Card-icon-view-and-sell warning-text">нет на складе
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                                <!--  ITEM PRICE -->

                                <!--    ITEM QUANTITY  -->
                                <div class="row-block">
                                    {% if not item.is_active %}
                                    <div class="Order-info">
                                        <div class="Card-icon-view-and-sell">{{ item.stock }} шт.
                                        </div>
                                    </div>
                                    {% else %}
                                    <div class="row-block">
                                        <div class="Order-info Order-info_status">
                                            <div class="Order-infoContent">
                                                <div class="Card-icon-view-and-sell">
                                                <span class="danger-text">в архиве
                                                </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                                <!--    ITEM QUANTITY  -->

                                <!--    COMMENTS, VIEWS & ORDERS ITEM    -->

                                <!--    COMMENTS, VIEWS & ORDERS ITEM    -->
                                {% if not item.is_active %}
                                <!--  EDIT ITEM -->
                                <div class="row-block">
                                    <div class="Order-info Order-info_status">
                                        <div class="Order-infoContent">
                                            <div class="Card-icon-view-and-sell">
                                                <a class=""
                                                   href="{% url 'app_store:edit_item' item.pk %}">
                                                    <img src="/assets/img/icons/edit.png" width="32">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--  EDIT ITEM -->

                                {% else %}
                                 <div class="row-block">
                                    <div class="Order-info Order-info_status">
                                        <div class="Order-infoContent">
                                            <div class="Card-icon-view-and-sell">
                                                <a class=""
                                                   href="{% url 'app_store:edit_item' item.pk %}">
                                                    <img src="/assets/img/icons/edit.png" width="32">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% empty %}
                         <div class="Order">
                             <img src="/media/default_images/not_items.png" width="100%">
                         </div>
                    {% endfor %}

                </div>
                <!--    ITEMS LIST -->

                <!--    PAGINATION -->
                <div>{% include "pagination/pagination.html" %}<br><br></div>
                <!--    PAGINATION -->

            </div>
        </div>
    </div>
</div>
{% endblock %}
