{% include 'messages/error.html' %}
{% if messages %}
    {% for message in messages %}
        <ul class="messagelist">
            <li class="{{ message.tags }}"  id="message">{{ message }}
                <button class="close-button" id="close-button-message">✖</button>
            </li>
        </ul>
    {% endfor %}
{% endif %}

<script>
        let toast = document.getElementById("message");
        document.getElementById("close-button-message").addEventListener("click", function () {
            toast.remove()
            }
        );

        function fadeOutEffect(time) {
        var fadeTarget = document.getElementById("message");
        var fadeEffect = setInterval(function () {
        if (!fadeTarget.style.opacity) {
            fadeTarget.style.opacity = 1;
        }
        if (fadeTarget.style.opacity > 0) {
            fadeTarget.style.opacity -= 0.1;
        } else {
            clearInterval(fadeEffect);
        }
    }, time);
}
fadeOutEffect(800)
</script>