<div class="Section-columnContent">
    <div class="NavigateProfile">
        <ul class="menu menu_vt">
            <li class="menu-item">
                <a class="menu-link" href="{% url 'app_user:account' user.id %}">Личный кабинет
                </a>
            </li>
            <li class="menu-item menu-item">
                <a class="menu-link" href="{% url 'app_user:profile_edit' user.id %}">Редактировать профиль
                </a>
            </li>
            <li class="menu-item menu-item">
                <a class="menu-link" href="{% url 'app_user:comment_list'  user.id %}">Мои комментарии
                </a>
            </li>

            <li class="menu-item">
                <a class="menu-link" href="{% url 'app_order:order_list' %}">История заказов
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="{% url 'app_user:history_view' user.id %}">История просмотра
                </a>
            </li>
             <li class="menu-item">
                <a class="menu-link" href="{% url 'app_invoice:invoices_list' %}">Список квитанций
                </a>
            </li>
             <li class="menu-item">
                <a class="menu-link" href="{% url 'app_invoice:address_list'  %}">Мои адреса
                </a>
            </li>
        </ul>
    </div>
</div>