{% extends 'index.html' %}
{% load static %}
{% load cache %}

{% block title %}Список адресов доставки{% endblock %}

{% block heard %} {% include 'search_string.html' %} {% endblock %}

{% block content %}

<div class="Middle Middle_top" xmlns="http://www.w3.org/1999/html">
    <div class="Middle-top">
        <div class="wrap">
            <div class="Middle-header">
                <h1 class="Middle-title"> Ваши адреса доставки </h1>
                   <ul class="breadcrumbs Middle-breadcrumbs">
                   <li class="breadcrumbs-item">
                        <a href="{% url 'app_user:account' user.id %}">личный кабинет
                        </a>
                    </li>
                    <li class="breadcrumbs-item breadcrumbs-item_current">
                        <span>список ваших адресов
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% include 'messages/message.html' %}
    <div class="Section Section_column Section_columnLeft">
        <div class="wrap">
            <div class="Section-column">
                {% include 'app_user/customer/sidebar/sidebar_customer.html' %}
            </div>
            <div class="Section-content">
                <div class="Sort">
                    <div class="Sort-title">Ваши адреса доставки </div>
                </div>
                <div class="Orders">
                    {% for address in object_list %}
                    <div class="Order Order_anons">
                        <div class="Order-personal">

                            <form class="form"  id="form_{{ address.pk }}" method="post"
                                  action="{% url 'app_invoice:address_edit' address.pk %}" >
                                {% csrf_token %}
                                <div class="form-group">
                                    <input class="form-input" type="text" value="{{ address.city }}" name="city"/>
                                </div>
                                <div class="form-group">
                                    <input class="form-input" type="text" value="{{ address.address }}" name="address"/>
                                </div>
                                <div class="form-group">
                                    <div class="buttons">
                                        <input class="btn btn_square btn_dark btn_narrow"
                                               type="submit" value="сохранить" form="form_{{ address.pk }}"/>
                                        <a class="btn btn_square btn_danger btn_narrow"
                                           href="#openModal">
                                            удалить
                                        </a>
                                    </div>

                                    <!--     MODAL FOR CONFIRM DELETE ADDRESS    -->
                                    <div id="openModal" class="modal-my">
                                        <div class="modal-dialog-my">
                                            <div class="modal-content-my">
                                                <div class="modal-header-my">
                                                    <a href="#close" title="Close" class="close-my">×</a>
                                                </div>
                                                <div class="modal-body-my">
                                                    <div class="form Payment">
                                                        <div class="form-group">
                                                            <h3>Удалить</h3>
                                                            {{ address.city }}, {{ address.address }}
                                                        </div>
                                                        <div class="form-group">
                                                            <a href="{% url 'app_invoice:address_remove' address.pk %}"
                                                               class="btn btn_square btn_danger btn_narrow">удалить&#8195;x</a>
                                                            <a href="#close" title="Close"
                                                               class="btn btn_square btn_dark btn_narrow">отмена</a>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer-my"> </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--     MODAL FOR CONFIRM DELETE ADDRESS    -->

                                </div>
                            </form>

                        </div>
                    </div>
                    {% empty %}
                    {% if form.errors.title %}
                        <div class="Order Order_anons">
                            <div class="form-error">ОШИБКА!
                                <p>{{ form.errors.title }}</p>
                            </div>
                        </div>
                    {% else %}
                       <div class="Order">
                        <h2>Ничего не найдено
                        </h2>
                    </div>
                    {% endif %}
                    {% endfor %}

                    <div class="Order Order_anons">
                        <div class="Sort">
                            <div class="Sort-title">Сохранить новый адрес</div>
                        </div>
                        <div class="Order-personal">
                            <form class="form"  id="form_create_address" method="post"
                                  action="{% url 'app_invoice:address_create' %}" >
                                {% csrf_token %}
                                <div class="form-group">
                                    <input class="form-input" type="text" name="city" placeholder="введите название населенного пункта"/>
                                </div>
                                <div class="form-group">
                                    <input class="form-input" type="text"  name="address" placeholder="введите адрес"/>
                                </div>
                                <div class="form-group">
                                    <div class="buttons">
                                        <input class="btn btn_square btn_success btn_narrow"
                                               type="submit" value="+ добавить новый адрес" form="form_create_address"/>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--       PAGINATION         -->
            <div>{% include "pagination/pagination.html" %}</div>
            <!--       PAGINATION         -->

        </div>
    </div>
</div>



{% endblock %}