body {margin: 0; padding: 0; font-family: Helvetica, Arial, sans-serif; }

main {
	width: 100%;
	height: 100vh;
	background-image: url(bg.jpg);
	background-size: cover;
	transition: all .2s ease;
}

.button {
	width: 300px;
	height: 60px;
	margin: 0 auto;
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 3px;
	background-color: #ff5252;
	text-align: center;
	cursor: pointer;
}

.button span {
	line-height: 60px;
	color: #fff;
	font-weight: bold;
	font-size: 15px;
	text-transform: uppercase;
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: black;
	display: none;
	z-index:11;
	overflow: hidden;
}

.popup {
	position: absolute;
	width: 40%;
	height: 50%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 40px;
	box-sizing: border-box;
	border-radius: 10px;
	background-color: #fff;
	color: #000;
	z-index:102;
}

.close-popup {
	position: absolute;
	top: 15px;
	right: 15px;
	width: 23px;
	height: 23px;
	cursor: pointer;
}

.close-popup:before {
	content: '';
	background-color: #fff;
	position: absolute;
	height: 1px;
	width: 31px;
	top: 11px;
	left: -4px;
	transform: rotate(-45deg);
}

.close-popup:after {
	content: '';
	background-color: #fff;
	position: absolute;
	height: 1px;
	width: 31px;
	top: 11px;
	transform: rotate(45deg);
	left: -4px;
}

@media screen and (max-width: 768px) {

	.popup {
		width: 100%;
		height: 100vh;
		font-size: 15px;
	}
}
.hide_comment {
    display:none;
    transition: all .6s ease;
}



/* свойства модального окна по умолчанию */
.modal-my {
    position: fixed; /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.9); /* цвет фона */
    z-index: 1200; !important;
    opacity: 0; /* по умолчанию модальное окно прозрачно */
    -webkit-transition: opacity 200ms ease-in;
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 500ms ease-in-out; /* анимация перехода */
    transition-duration: .5s;
    pointer-events: none; /* элемент невидим для событий мыши */
    margin: 0;
    padding: 0;
}
/* при отображении модального окно */
.modal-my:target {
    opacity: 1; /* делаем окно видимым */
	  pointer-events: auto; /* элемент видим для событий мыши */
    overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}
/* ширина модального окна и его отступы от экрана */
.modal-dialog-my {
    position: relative;
    width: auto;
    margin: 10px;
    z-index: 1050;
}
@media (min-width: 576px) {
  .modal-dialog-my {
      max-width: 600px;
      margin: 50px auto; /* для отображения модального окна по центру */
  }
}
/* свойства для блока, содержащего контент модального окна */
.modal-content-my {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.9);
    border-radius: .9rem;
    outline: 0;
}
@media (min-width: 768px) {
  .modal-content-my {
      -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
      box-shadow: 0 5px 15px rgba(0,0,0,.5);
  }
}
/* свойства для заголовка модального окна */
.modal-header-my {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eceeef;
}
.modal-title-my {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 700;
}
/* свойства для кнопки "Закрыть" */
.close-my {
    float: right;
    font-family: sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    text-decoration: none;
}
/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
.close-my:focus, .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}
/* свойства для блока, содержащего основное содержимое окна */
.modal-body-my {
    display: block;
    align-items: center;
    justify-content: start;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 5px;
    overflow: auto;
}
@media (min-width: 360px) {
    .modal-body-my {
    display: block;
}

}
.modal-body-img_block {
    display: block;
    margin: 10px;
    border-radius: 12px;
    box-shadow: 0 0 6px;
    padding: 5px;
}

.modal-body-img  {
    max-height: 80px;
    max-width: 100%;
}
.modal-body-my  modal-price-my {
     border-top: none;
}
.modal-footer-my {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    border-top: 1px solid #eceeef;
}

.Comment-hidden {
     display: none;
     opacity: 0;

}

.Comment-show {

  display: block;
  opacity: 1;
  transition: all 0.5s;
}

.Card-icon-view-and-sell {
    display: flex;
    justify-content: center;
    margin: 10px  0;
}
.Card-icon {
    margin: 0 10px;
}
.Card-icon-image {
    margin-top:5px
}
/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
.Profile-avatar-mini {
  margin: 10px 5px 5px;
  height: 25%;
  width: 30%;
  padding: 10px;
  display: inline-block;
  font-size: 10px;
  justify-content: center;
  align-items: center;
  border: 1px solid #e0e0e0;
  position: relative;
}
.card-picture-image {
    opacity: 1;
    display: block;
}

.card-picture-image:hover {
  transform: scale(0.89);
  translate: all 1s ease;
  transition: transform 0.8s 0.2s;
}
.card-picture-image:  {
 transition: transform 1.0s;
}


input: valid {
    background-color: green;
}
input: invalid {
    background-color: #f26d7d;
}
.Order-modal-count-label {
    position: relative;
    bottom: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    padding: 12px;
    background-size: contain;
    border-radius: 10px;
    font-size: 1rem;
    color: white;
    font-weight: 700;
    z-index: 10;
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    background-color: #0063D1;
}
.Cart-total-order {
    display:flex;
    justify-content: end;
}
.Cart-block-order {
    display:inline;
    text-align: center;
}
.Cart-title-order {
 display:inline;
 }

.Order-progress-bar {
    box-shadow: 0 0 2px black;
    border-radius: 10%;
    padding: 2px 4px;
    margin-right: 2px;
}
.Order-progress-bar_width {
    box-shadow: 0 0 2px black;
    border-radius: 10%;
    margin-right: 2px;
    padding: 0 10px;
}
.progress-bar_width {
    color: white;
    font-weight:500;
    box-shadow: 0 0 2px black;
    border-radius: 1%;
    margin-right: 2px;
    padding: 6px 15px;
}
.Order-progress-bar-deactivated {
    background-color: #f26d7d;
}
.Order-progress-bar-new {
    background-color: #F4CA16;
}
.Order-progress-bar-in_progress {
    background-color: #f98561;
}
.Order-progress-bar-on_the_way {
    background-color: #3CB878;
}
.Order-progress-bar-is_ready {
    background-color: #20B2AA ;
}
.Order-progress-bar-completed {
    background-color: #0063d1;
}
.delivery-status-paid {
    color: white;
    font-weight: 700;
    background-color: #3CB878;
    padding:6px;
    font-size: 12px;
}

.delivery-status-not_paid {
    color: white;
    font-weight: 700;
    background-color: #f26d7d;
    padding:6px;
    font-size: 12px;
}
.Cart-store {
  display: flex;
  align-items: center;
  border-top: 2px solid #e0e0e0;
  padding-top: 20px;
}
.Store-logo {
    display:inline;
    width: 50px;
    height: 50px;
    border-radius: 20%;
    margin:5px;
}
.Order-item-img {
    display:inline;
    width: 50px;
    height: 50px;
    border-radius: 20%;
    margin:10px;
}
.Card-center {
    display:inline;
    align-items:center;
}
.Cart-delivery-conditions {
  display: flex;
  justify-content: end;
}

.Cart-desc-delivery-conditions {
  font-size: 12px;
  display: block;
  color: #71747a;
}
.Cart-img-not_available {
    filter: grayscale(100%);
}
.Cart-message-not_available {
    text-decoration:none;
    color: #f26d7d;
    font-weight: 700;
}

.Cart-title-not_available {
    text-decoration: line-through;
    color: #696565;
}
.pay-border {
    border: 1px solid #71747a;
    padding:15px;
    border-radius: 10px;

}
.Card-stock {
  position: absolute;
  right: 5px;
  top: -5px;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.2em;
  letter-spacing: 0.65px;
  width: 68px;
  height: 58px;
  padding: 5px;
  background-color: #3cb878;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.Order-infoContent-right {
  font-weight: 400;
  width: 100%;
  text-align: right;
  margin-bottom:30px;
}
.Order-list-infoContent-right {
  font-weight: 400;
  width: 100%;
  text-align: right;
}
.Order-infoContent-left {
  font-weight: 400;
  width: 100%;
  text-align: left;
  margin-bottom:30px;
}
.Order-values {
  font-size: 16px;
  color: #000;
}
.btn-inline {
    display:inline;
}
.form-shadow {

    padding:35px 25px;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.Order_anons_limited_edit {
    margin-top: 40px;
    border: 2px solid #F4CA16;
    padding: 20px;
}

.Order_anons_rest {
    margin-top: 40px;
    border: 2px solid #f26d7d;
    padding: 20px;
}
.limited_edition_label {
    background-color: #F4CA16;
    color: white;
    padding: 2px;
    border-radius: 10px;
}
.rest_label {
    background-color: #f26d7d;
    color: white;
    padding: 2px;
    border-radius: 10px;
}
.seller_label {
    background-color: #3CB878;
    color: white;
    padding: 2px 5px;
    margin: 2px;
    border-radius: 10px;
  }
.close-cross {
      margin-left: 10px;
      color: red;
      text-shadow: 0 0 1px black
    }

.messages {
    z-index: 999;

}

.base_message {
    position: absolute;
    overflow: hidden;
    height: auto;
    width: 65%;
    top: 85%;
    left: 35%;
    z-index: 999;
    color: white;
    font-weight: 500;
    border-radius: 20px;
    margin-top: 10px;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    padding: 25px 35px;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.5);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.5);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.5);
}
@media screen and (max-width: 1080px)  and (orientation: landscape) {
  .base_message {
    height: auto;
    width: 100%;
    top: 65%;
    left: 0;
}
  }
}
@media screen and (max-width: 990px) and (orientation: portrait) {
  .base_message {
    height: auto;
    width: 100%;
    top: 65%;
    left: 0%;
  }
}

@media screen and (max-width: 300px) and (orientation: portrait)
   .base_message {
    height: auto;
    width: 100%;
    top: 65%;
    left: 0;
}
}
@media screen and (max-height: 480px) and (orientation: landscape)
  .base_message {
    width: 100%;
    height: auto;
    top: 20%;
    left: 0;
    }
}

.message_non_active {
    display: none
}
.close-button {
  display: inline;
  margin-left: 20px;
  background-color: inherit;
  color: inherit;
  border: none;
  cursor: pointer;
}

.Card-item_in_cart {
    position: absolute;
    font-size: 14px;
    color: white;
    text-align: end
    font-weight: 700;
    background-color: #3CB878;
    top: 14px;
    left: -7px;
    width: 150px;
    height: 36px;
    background-size: contain;
    border-radius: 10px;
    padding: 5px;
    z-index: 10;
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
 }
.Cart-item-favorites {
    position: absolute;
    font-size: 14px;
    color: black;
    text-align: end
    font-weight: 900;
    top: 14px;
    right: 5px;
    width: 50px;
    height: 36px;
    background-size: contain;
    border-radius: 10px;
    padding: 5px;
    padding-top: 10px;
    z-index: 10;
}
.in-favorites .in-compare {
    background-color: #F4CA16;
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
}
.Cart-item-compare {
    position: absolute;
    font-size: 14px;
    color: black;
    text-align: end
    font-weight: 900;
    top: 60px;
    right: 5px;
    width: 50px;
    height: 36px;
    background-size: contain;
    border-radius: 10px;
    padding: 5px;
    padding-top: 10px;
    z-index: 10;
}
.store-item-image {
    max-height: 100px;
    max-width: 100%;
}
.store-status-active {
    color: white;
    font-weight: 700;
    background-color: #3CB878;
    padding:6px;
    font-size: 20px;
}
.store-status-non_active {
    background-color: #f26d7d;
    color: white;
    font-weight: 700;
    padding:6px;
    font-size: 20px;
}
.error_message {
    background-color: #f26d7d;
}

.message_general {
    position: fixed;
    overflow: hidden;

    height: auto;
    width: 65%;
    top: 85%;
    left: 35%;
    z-index: 999;
    color: white;
    font-weight: 500;
    border-radius: 20px;
    margin-top: 10px;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    padding: 25px 35px;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.5);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.5);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.5);
}

.messagelist {
  display: block;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  padding: 10px 10px 10px 10px;
  margin: 0 0 10px 0;
  background: var(--message-success-bg) url(../img/icon-yes.svg) 40px 12px no-repeat;
  background-size: 16px auto;
  color: white;
}

.success {
    background-color: #3CB878;
}

.info {
    background-color:  #0063d1;
}

.warning {
   background-color: #e98338;
}

.error {
 background-color: #f26d7d;
}

.Order-button-set {
    margin-top:15px;
    display:flex;
    justify-content: space-evenly;
}
.Order-pay-button {
    display:flex;
    margin: 10px 2px 2px 2px;
    background-color: #3CB878;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.Order-cancel-button {
    padding: 10px;
    margin: 10px 2px 2px 2px;
    display:flex;
    background-color: #f26d7d;
    color: white;
    padding: 10px;
    border-radius: 10px;
}
.non_available {
   filter: grayscale(100%);
}
.Order-side-bar-store {
    color: inherit;
    font-weight: 800;
    width: 100%;
    text-align: right;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top:15px;
}

.Order-side-bar-chosen-store {
    padding:15px;
    border-radius: 10px; box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
}


.not_available {
  filter: grayscale(100%);
}
.sold_out {
    position: absolute;
    font-size: 14px;
    color: black;
    font-weight: 700;
    background-color: #FFBF00;
    top: 120px;
    left: 8%;
    width: 250px;
    height: 30px;
    border-radius: 10px;
    z-index: 10;
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.8);
}
}
.Cart-block-edit-button {
    display: flex;
    align-items: center;

    justify-content: center;
}
.Tag-alphabet_letter {
   padding: 0 35px;
}

.Amount_update {
    position: absolute;
    display: block;
    width: 14px;
    margin-left: -6.9px;
    height: 1px;
    top: 50%;
    left: 50%;
    background: #424650;
}
.express_delivery_label {
    background-color: #F4CA16;
    color: white;
    padding: 3px 10px;
    border-radius: 10px;
}
.total_label {
 display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 42px;
  border: 1px solid #fff;
  border-color: #fff;
  border-radius: 100px;
  background: #fff;
  padding: 3px 15px;
  line-height: 1.2em;
  text-align: center;
  color: #424650;
  text-decoration: none;
  position: relative;
  font-size: 16px;
  border-color: #fff;
  color: #424650;
  background: #fff;
  transition: all 200ms;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  padding-left: 38px;
  padding-right: 38px;
  }
.warning_label {
    border-color: #f98561;
    color: #fff;
    background: #f98561;
}
.Cart-block_order {
  margin-left: auto;
}

.warning_label {
    background-color: #F4CA16;
    color: white;
    padding: 2px;
    border-radius: 10px;
}
.danger_label {
    background-color: #f26d7d;
    color: white;
    padding: 2px;
    border-radius: 10px;

}
.success_label {
    background-color: #3CB878;
    color: white;
    padding: 2px 5px;
    margin: 2px;
    border-radius: 10px;
  }
.info_label {
    background-color:  #e98338;
    color: white;
    padding: 2px 5px;
    margin: 2px;
    border-radius: 10px;
}
.primary_label {
    background-color: #0063d1;
    color: white;
    padding: 2px 5px;
    margin: 2px;
    border-radius: 10px;
}

.secondary_label {
    background-color: #A5ABBA;
    color: white;
    padding: 2px 5px;
    margin: 2px;
    border-radius: 10px;
}
.warning-text {
    color:#F4CA16;
    font-weight:bold;
    text-transform: uppercase;
}
.success-text {
    color:#3CB878;
    font-weight:bold;
    text-transform: uppercase;
}
.danger-text {
    color:#f26d7d;
    font-weight:bold;
    text-transform: uppercase;
}
.warning-text {
    color:#F4CA16;
    font-weight:bold;
    text-transform: uppercase;
}
.secondary-text {
    color:#A5ABBA;
    font-weight:bold;
    text-transform: uppercase;
}

.primary-text {
    color:#0063d1;
    font-weight:bold;
    text-transform: uppercase;
}
.info-text {
    color: #e98338;
    font-weight:bold;
    text-transform: uppercase;
}
.label-color {
    color: white;
    padding: 5px 5px;
    border-radius: 5px;
    text-transform: uppercase;
}

.created {
    background-color: #F4CA16;
}
.paid {
    background-color: #50C878;
}
.is_preparing {
    background-color: #20B2AA;
}
.on_the_way {
    background-color:  #0CCBE7;
}
.is_ready {
    background-color: #318CE7;
}

.completed {
    background-color: #9457EB;
}
.deactivated {
    background-color: #EB4C42;
}