{% extends 'index.html' %}
{% load static  %}
{% load cache %}

{% block title %}
Успешная оплата
{% endblock %}

{% block content %}
<div class="Middle Middle_top">
    <div class="Middle-top">
        <div class="wrap">
            <div class="Middle-header ">
                <h1 class="Middle-title">Заказ успешно плачен</h1>
                <ul class="breadcrumbs Middle-breadcrumbs">
                    <li class="breadcrumbs-item">
                        <a href="{% url 'main' %}">главная стариница</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% include 'messages/message.html' %}
    <div class="Section">
        <div class="wrap">
            <div class="form Payment form-shadow">
                <div class="Payment-card">
                    <div class="form-group">
                        <img src="/assets/img/icons/success.svg" width="100">
                        <label class="form-label Section-title ">ЗАКАЗ УСПЕШНО ПЛАЧЕН</label>
                    </div>
                     <div class="form-group">
                        <a class="btn btn_success"  href="{% url 'main' %}">
                          Вернуться к покупкам
                        </a>
                    </div>
                    <div class="form-group">
                        <label class="form-label">перейти
                            <a href="{% url 'app_order:order_list'  %}">
                               в мои заказы
                            </a>
                        </label>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}