{% extends 'app_store/seller_index.html' %}
{% load static %}
{% load cache %}

{% block title %}Добавить товар{% endblock %}

{% block content %}
<div class="Middle Middle_top">
    <div class="Middle-top">
        <div class="wrap">
            <div class="Middle-header">
                <h1 class="Middle-title">Редактировать - {{ item.title }}
                </h1>
                <ul class="breadcrumbs Middle-breadcrumbs">
                    <li class="breadcrumbs-item">
                        <a href="{% url 'app_store:store_detail' pk=item.store.pk %}">{{ item.store }}
                        </a>
                    </li>
                    <li class="breadcrumbs-item breadcrumbs-item_current"><span>Редактировать товар
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
    {% include 'messages/message.html' %}
<div class="Section Section_column Section_columnLeft">
        <div class="wrap">
            <div class="Section-column">
                {% include 'app_store/sidebar_seller.html' %}
            </div>
            <div class="Section-content">
                <div class="Profile">
                    <form class="form Profile-form" action="." method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">

                            <div class="row-block  ">
                                <div class="form-group">
                                    <div class="form-label">
                                        {% if not item.is_active %}
                                        <a class="btn  btn_narrow btn_square btn_dark btn_sm"
                                           href="{% url 'app_store:store_detail' pk=item.store.pk %}"><span>назад
                                            </span>
                                        </a>
                                        <button class="btn btn_narrow btn_square btn_success btn_sm" type="submit">
                                            сохранить
                                        </button>
                                        <a class="btn  btn_narrow btn_square btn_danger btn_sm" href="#openModal">удалить
                                        </a>
                                        {% else %}
                                        <a class="btn  btn_narrow btn_square btn_dark btn_sm"
                                           href="{% url 'app_store:store_detail' pk=item.store.pk %}"><span>назад
                                            </span>
                                        </a>
                                        <a class="btn  btn_narrow btn_square btn_success btn_sm" href="#openModal">восстановить
                                        </a>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group {% if item.is_active %} non_available {% endif %}">
                                    {% for img in item.images.all %}
                                    <!--  IMAGE  -->
                                    <div class="Profile-avatar  {% if img.main %}label_success  {% endif %}">
                                        <div class="Profile-img">
                                            <img src="{{ img.image.url }}" alt="{{ img }}"/>
                                        </div>
                                    </div>
                                    <!--  IMAGE END -->
                                    <div>
                                        {% if img.main %}
                                        <span class="success-text">&#9733; главное</span>
                                        {% else %}
                                        <a href="{% url 'app_store:make_image_main' pk=img.pk %}" class="primary-text">сделать главным</a>
                                        {% endif %}
                                        <a href="{% url 'app_store:delete_image' pk=img.pk  %}"
                                           class="danger-text">&#10060; удалить</a>
                                    </div>
                                    {% endfor %}

                                </div>
                                <!-- ADD IMAGE FORM BEGIN -->
                                {% if not item.is_active %}
                                <div id="form-container-image" class="form-group input-collect">
                                    {{ image_formset.management_form }}
                                    {% for form in image_formset %}
                                    <div class="image-form Profile-avatar Profile-avatar-noimg">
                                        {% if form.errors.image %}
                                        <div class="form-error">{{ form.errors.image }}
                                        </div>
                                        {% endif %}
                                        <input class="form-input Profile-file"
                                               id="output-0"
                                               onchange="loadFile(event)"
                                               name="image"
                                               type="file"
                                               data-validate="onlyImgAvatar"/>
                                        <img id="im-0" src="/media/default_images/default_image.png" width="200" height="200">
                                    </div>
                                    {% if form.errors.image %}
                                    <div class="form-error">{{ form.errors.image }}
                                    </div>
                                    {% endif %}
                                    {% endfor %}

                                    <button id="add-form-image" class="btn" type="button">
                                        + добавить изображение по одному
                                    </button>

                                </div>
                                {% endif %}
                                <!--    ADD IMAGE FORM END      -->
                            </div>
                            <div class="row-block">

                                <div class="form-group">
                                    <label class="form-label" for="title">Название</label>
                                    <input class="form-input" id="title" name="title" type="text"
                                           value="{{ item.title }}"/>
                                    {% if form.errors.title %}
                                    <div class="form-error">{{ form.errors.title }}
                                    </div>
                                    {% endif %}
                                </div>

                                <div class="form-group">
                                    <label class="form-label" for="stock">Количество</label>
                                    <input class="form-input" id="stock" name="stock" type="number"
                                           value="{{ item.stock }}"/>
                                    {% if form.errors.stock %}
                                    <div class="form-error">{{ form.errors.stock }}
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="price">Цена</label>
                                    <input class="form-input" id="price" name="price" type="number"
                                           value="{{ item.price }}" aria-valuemin="1"/>
                                     {% if form.errors.price %}
                                    <div class="form-error">{{ form.errors.price }}
                                    </div>
                                    {% endif %}
                                </div>
                                {% if   not item.is_active %}
                                <div class="form-group">
                                    <input type="checkbox" name="is_available" id="is_available"
                                           {% if item.is_available %} checked value="True"{% else %} value="False"{% endif %}/>
                                    <span class="toggle-box"></span>
                                    <span class="toggle-text">Доступно для продажи</span>
                                     {% if form.errors.is_available %}
                                    <div class="form-error">{{ form.errors.is_available }}
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    <input type="checkbox" name="limited_edition" id='limited_edition'
                                           {% if item.limited_edition %} checked value="True" {% else %} value="False"
                                           {% endif %}/>
                                    <span class="toggle-box"></span>
                                    <span class="toggle-text">Ограниченное количество</span>
                                    {% if form.errors.limited_edition %}
                                    <div class="form-error">{{ form.errors.limited_edition }}
                                    </div>
                                    {% endif %}
                                </div>
                                 <!-- CATEGORY -->
                                <div class="form-group">
                                    <label class="form-label" for="category">Категория</label>
                                    <select id="category" name="category" class="form-input">
                                        <option disabled>{{ item.category }}</option>
                                        {% for cat in categories %}
                                            {% if cat == item.category %}
                                                <option selected="selected" value="{{ cat.id }}">
                                                    {{cat}}
                                                </option>
                                            {% else %}
                                                <option value="{{ cat.id }}">
                                                    {{cat }}
                                                </option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                    {% if form.errors.category %}
                                    <div class="form-error">{{ form.errors.category }}
                                    </div>
                                    {% endif %}
                                </div>
                                <!-- CATEGORY -->
                                <!-- FEATURES -->

                                <div class="form-group">
                                    {% for features in item.category.feature.all %}

                                    <label class="form-label">{{ features | lower }}
                                          {% for value in features.values.all %}
                                            {% if value in item.feature_value.all %}
                                                <a  class="danger-text"
                                                    href="{% url 'app_store:value_del' slug=value.slug pk=item.id %}"
                                                   >&#10060;
                                                </a>
                                            {% endif %}
                                        {% endfor %}

                                    </label>
                                    <select name="value" class="form-input">

                                        <option></option>
                                        {% for value in features.values.all %}
                                            {% if value in item.feature_value.all %}
                                                <option value="{{ value.id  }}" selected>{{ value }}</option>
                                            {% else %}
                                                <option value="{{ value.id  }}">{{ value }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                    {% endfor %}
                                </div>
                                <!-- FEATURES -->

                                <!-- DESCRIPTION -->
                                <div class="form-group">
                                    <label class="form-label" for="description">Описание</label>
                                    <textarea class="form-input" id="description" name="description"
                                              cols="40" rows="5"
                                              placeholder="Описание">{{ item.description }}</textarea>
                                </div>
                                <!--DESCRIPTION -->

                                <!--COLOR ITEM -->
                                <div class="form-group">
                                    {% for color in colors %}
                                    {% if color == item.color %}
                                    <label class="toggle"
                                           style="border: 5px solid  {{ color }}; padding:0 5px; border-radius: 10px">
                                        <input type="radio" name="color" value="{{ color }}" checked="checked"/>
                                        <span class="toggle-box">
                                    </span>
                                    </label>
                                    {% else %}
                                    <label class="toggle"
                                           style="border: 5px solid  {{ color }}; padding:0 5px; border-radius: 10px">
                                        <input type="radio" name="color" value="{{ color }}"/>
                                        <span class="toggle-box">
                                    </span>
                                    </label>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                <!-- COLOR ITEM -->

                                <div class="form-group">
                                    <a href="{% url 'app_store:add_tag' pk=item.pk %}"
                                       class="btn btn_narrow btn_square btn_primary btn_sm">
                                        + добавить тег
                                    </a>
                                </div>
                                <div class="form-group">
                                    {% for tg in item.tag.all %}
                                    <div class="btn btn_default btn_sm" style="margin-bottom: 10px;">#{{tg}}
                                        <a href="{% url 'app_store:delete_tag' tag_id=tg.pk item_id=item.pk %}"
                                           style="color:red">&#8195;&#10060;</a>
                                    </div>
                                    {% endfor %}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</div>

    <!--    MODAL FOR CONFIRM DELETE ITEM    -->
<div id="openModal" class="modal-my">
        <div class="modal-dialog-my">
            <div class="modal-content-my">
                <div class="modal-header-my">
                    <a href="#close" title="Close" class="close-my">×</a>
                </div>
                <div class="modal-body-my">

                    <div class="form Payment">
                        {% if not item.is_active %}
                        <div class="form-group">
                            <img src="{{ item.main_image }}" width="200" alt="delete.svg"/>
                            <h4>Удалить "{{ item.title }}"</h4>
                        </div>

                        <div class="form-group">
                            <a href="{% url 'app_store:delete_item' pk=item.pk %}"
                               class="btn btn_square btn_danger  btn_narrow btn_small">удалть</a>
                            <a href="." title="Close"
                               class="btn  btn_square btn_default  btn_narrow btn_small">отмена</a>
                        </div>
                        {% else %}
                         <div class="form-group">
                            <img src="{{ item.main_image }}" width="200" alt="delete.svg"/>
                            <h4>Восстановить "{{ item.title }}"</h4>
                        </div>

                        <div class="form-group">
                            <a href="{% url 'app_store:delete_item' pk=item.pk %}"
                               class="btn btn_square btn_success  btn_narrow btn_small">восстановить</a>
                            <a href="." title="Close"
                               class="btn  btn_square btn_default  btn_narrow btn_small">отмена</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="modal-footer-my">
                <br>
                </div>
            </div>
        </div>
    </div>
    <!--     MODAL FOR CONFIRM DELETE ITEM    -->
<script>
let birdForm = document.querySelectorAll(".image-form")
let container = document.querySelector("#form-container-image")
let addButton = document.querySelector("#add-form-image")
let totalForms = document.querySelector("#id_form-TOTAL_FORMS")
let outPut =  document.querySelector("#output")
let formNum = birdForm.length-1
addButton.addEventListener('click', addForm)

function addForm(e){
    e.preventDefault()
    let container_new = document.getElementById('form-container-image');
    let newForm = birdForm[0].cloneNode(true)
    newForm.setAttribute( 'scr', '/media/default_images/default_image.png ' );

    let formRegex = RegExp(`form-(\\d){1}-`,'g')
    let outputRegex = RegExp(`output-(\\d){1}`,'g')
    let imgRegex = RegExp(`im-(\\d){1}`,'g')



    formNum++
    newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)
    newForm.innerHTML = newForm.innerHTML.replace(outputRegex, `output-${formNum}`)
    newForm.innerHTML = newForm.innerHTML.replace(imgRegex, `im-${formNum}`)
    container.insertBefore(newForm, addButton)

    totalForms.setAttribute('value', `${formNum+1}`)
}


loadFile = function(event) {
        let container_new = document.getElementById('form-container-image');
        let nuM = container_new.querySelectorAll('.image-form').length
        let all_elem = container_new.querySelectorAll('.image-form img')
        let output = all_elem[all_elem.length- 1];
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function() {
          URL.revokeObjectURL(output.src) // free memory
        }

    }

</script>
</div>
{% endblock %}